<div class="post-creation-dialog container">
  <md-dialog aria-label="New Post" class="teste">
    <form>
      <md-toolbar class="create-post-toolbar">
        <md-input-container
          class="md-toolbar-tools create-post-title"
          md-no-float
        >
          <input
            type="text"
            name="title"
            ng-model="post.title"
            placeholder="Title"
            aria-label="primary no float"
            class="create-po ng-touched"
          />
        </md-input-container>
      </md-toolbar>
      <md-dialog-content style="padding: 20px"
        ><div id="editor" ng-model="test"></div
      ></md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button
          ng-click="submit()"
          style="margin-right: 20px"
          class="md-raised md-accent"
        >
          <span ng-if="create">Post</span>
          <span ng-if="!create">Send</span>
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>

<script>
  var toolbarOptions = [
    [{ header: [1, 2, 3, false] }],
    ["bold", "italic", "underline", "strike"], // toggled buttons
    ["blockquote", "code-block"],

    [{ header: 1 }, { header: 2 }], // custom button values
    [{ list: "ordered" }, { list: "bullet" }],
    [{ script: "sub" }, { script: "super" }], // superscript/subscript
    [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
    // [{ color: [] }, { background: [] }], // dropdown with defaults from theme
    [{ align: [] }],
    ["clean"], // remove formatting button
  ];

  var quill = new Quill("#editor", {
    theme: "snow",
    placeholder: "Type your post...",
    modules: {
      counter: true,
      toolbar: toolbarOptions,
    },
  });
</script>
