<div id="top-user-area" class="nav navbar-nav navbar-right">
  <div ng-hide="$root.user">
    <form>
      <md-input-container class="form-group md-default-theme" flex>
        <label class="control-label">Email</label>
        <input id="top-user-area-email" type="email" name="email" ng-model="account.email" class="form-control md-default-theme"/>
      </md-input-container>

      <md-input-container class="form-group md-default-theme" flex>
        <label class="control-label">Senha</label>
        <input id="top-user-area-password" type="password" ng-model="account.password" class="form-control md-default-theme"/>
      </md-input-container>

      <div class="form-group">
        <button id="top-user-area-submit" type="submit" ng-click="login()" class="btn btn-default">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </form>

    <a id="register-btn" class="btn btn-icon" ui-sref="register">
      <span>
        <i class="fa fa-user"></i>
      </span>
      Registre-se
    </a>
  </div>
  <div ng-show="$root.user">
    <a id="logout-btn" class="btn btn-icon" ng-click="logout()">
      <span>
        <i class="fa fa-user"></i>
      </span>
      Sair
    </a>
    <a id="top-user-info" ui-sref="profile">
      <img ng-src="//www.gravatar.com/avatar/{{accountState.emailHash}}?d=identicon&s=50">
      Perfil
    </a>
  </div>
</div>
