lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
.dockerignore
.gitignore
.git
*.swp
*.bower.json.md5
*.package.json.md5
tsconfig.tsbuildinfo
test/

pids
logs
results

npm-debug.log
node_modules/*

public/imgs/site
public/dist
public/fonts
public/bower_components
tmp

*.DS_STORE
*.txt
.tmp
nohup.out
