lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
.dockerignore
.gitignore
.git
.Dockerfile.*
*.swp
*.bower.json.md5
*.package.json.md5

pids
logs
results

npm-debug.log
node_modules
node_modules/*

problems/*
cpp/matchProblems
cpp/problems.txt
public/imgs/site/*
public/dist/*
public/fonts/*
public/problems/*
public/bower_components/*
.prod/*

*.DS_STORE
*.txt
.tmp
nohup.out
