lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.swp
*.bower.json.md5
*.package.json.md5
app/utils/tmp/

pids
logs
results

npm-debug.log
/node_modules/*
/.prod/*

/problems/*
/cpp/matchProblems
/cpp/problems.txt
/public/imgs/site/*
/public/dist/*
/public/fonts/*
/public/problems/*
/public/bower_components/*
/public/index.html
/tmp/*

*.DS_STORE
*.txt
.tmp
nohup.out
