lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.swp
src/utils/tmp/
test/

pids
logs
results

npm-debug.log
/node_modules/*

/public/imgs/site
/public/dist
/public/fonts
/public/bower_components
/public/index.html
/tmp

*.DS_STORE
*.txt
.tmp
*.md5
nohup.out
