lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.last_boot
*.swp

pids
logs
results

npm-debug.log
/node_modules/*
/judger/node_modules/*

/problems/*
/cpp/matchProblems
/public/imgs/site/*
/public/dist/*
/public/fonts/*
/public/problems/*
/public/bower_components/*

*.DS_STORE
*.txt
.tmp
nohup.out
