<footer>
	<div id="footer-arrow">
	</div>
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="">Sobre o Maratonando</a></li>
					<li><a href="/contests/open">Competições</a></li>
					<li ng-hide="$root.user"><a href="/register">Registre-se</a></li>
					<li><a href="https://github.com/maratonando/site/issues">Reportar bugs</a></li>
				</ul>
			</div>

		</div>

	</div>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<h4>© 2015 Maratonando</h4>
				</div>

				<div class="col-md-4" style="text-align: center">
					<img src="imgs/logo_new.png"/>
				</div>

				<div class="col-md-4">
					<a href="https://github.com/maratonando/site"><i class="fa fa-github"></i></a>
				</div>

			</div>
		</div>
	</div>

</footer>