<footer>
	<div id="footer-arrow"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li><a ui-sref="home">Home</a></li>
					<li><a ui-sref="contests.open">Competições</a></li>
					<li><a ui-sref="about">Sobre o Codepit</a></li>
					<li ng-hide="$root.user.isAuthenticated()"><a ui-sref="register">Registre-se</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="footer-bottom" layout="row">
		<div layout="column" layout-align="center start" flex="5">
			<a target="_blank" href="//fb.com/stor"><i class="fa fa-facebook"></i></a>
		</div>
		<div layout="column" layout-align="center start" flex>
			<h4>Codepit © Copyright 2015-2016 Gustavo Stor</h4>
		</div>
		<div layout="column" layout-align="center end" flex="20">
			<img class="codepit-logo" src="../imgs/codepit-full.png" />
		</div>
	</div>

</footer>
