<footer>
	<div id="footer-arrow">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li><a ui-sref="home">Home</a></li>
					<li><a ui-sref="contests.open">Competições</a></li>
					<li><a ui-sref="about">Sobre o Codepit</a></li>
					<li ng-hide="$root.user.isAuthenticated()"><a ui-sref="register">Registre-se</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-4 col-md-4 container-fluid" style="text-align: center;">
					<h4>Codepit © Copyright 2015-2016 Gustavo Stor</h4>
				</div>
				<div class="col-md-4" style="float: right;">
					<a target="_blank" href="https://github.com/godely/"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
	</div>

</footer>
