<header id="header">
  <div class="bs-component">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"></a>
        </div>
        <div class="navbar-collapse navbar-responsive-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle link" ng-class="{'active': isActive('/contest.*')}" aria-expanded="false">
                Competições
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ui-sref="contests.open">Em aberto</a></li>
                <li><a ui-sref="contests.past">Passadas</a></li>
                <li ng-show="$root.user.isAuthenticated()" class="divider"></li>
                <li ng-show="$root.user.isAuthenticated()"><a ui-sref="contests.owned">Criadas</a></li>
                <li ng-show="$root.user.isAuthenticated()"><a ui-sref="contests.joined">Participadas</a></li>
                <li ng-show="$root.user.isAuthenticated()" class="divider"></li>
                <li ng-show="$root.user.isAuthenticated()"><a ui-sref="contests.create">Criar competição</a></li>
              </ul>
            </li>
          </ul>
          <mrt-login-form></mrt-login-form>
        </div>
      </div>
    </div>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
  </div>
</header>
