<div id="top-user-area" class="nav navbar-nav navbar-right">
  <div ng-hide="$root.user">
    <form>
      <div class="form-group label-floating is-empty">
        <label for="top-user-area-email" class="control-label">Email</label>
        <input id="top-user-area-email" type="email" ng-model="account.email" class="form-control">
      </div>
      <div class="form-group label-floating is-empty">
      <label for="top-user-area-password" class="control-label">Senha</label>
        <input id="top-user-area-password" type="password" ng-model="account.password" class="form-control">
      </div>
      <div class="form-group">
        <button id="top-user-area-submit" type="submit" ng-click="login()" class="btn btn-default">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </form>

    <a id="register-btn" class="btn btn-icon" ui-sref="register">
      <span>
        <i class="fa fa-user"></i>
      </span>
      Registre-se
    </a>
  </div>
  <div ng-show="$root.user">
    <a id="logout-btn" class="btn btn-icon" ng-click="logout()">
      <span>
        <i class="fa fa-user"></i>
      </span>
      Sair
    </a>
    <a id="top-user-info" ui-sref="profile">
      <img ng-src="{{ pictureUrl }}">
      Perfil
    </a>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $.material.init();
  });
</script>