<div id="top-user-area">

<div ng-show="$root.loadingUser">
  <i style="margin: 10px;" class="pull-right fa fa-spinner fa-spin fa-2x"></i>
</div>

<div ng-hide="$root.loadingUser">

  <div ng-hide="$root.user">

      <form>
          <input id="login-email" type="email" ng-model="account.email" placeholder="Email">
          <input id="login-password" type="password" ng-model="account.password" placeholder="Senha">
          <button id="login-submit" type="submit" ng-click="login()" class="btn btn-default">
            <i class="fa fa-arrow-right"></i>
          </button>
      </form>

      <a id="register-btn" class="btn btn-icon" href="/register">
        <span>
          <i class="fa fa-user"></i>
        </span>
        Registre-se
      </a>
      
  </div>

  <div ng-show="$root.user">

    <a id="logout-btn" class="btn btn-icon" ng-click="logout()">
      <span>
        <i class="fa fa-user"></i>
      </span>
      Sair
    </a>

    <a id="top-user-info" href="/profile">
      <img ng-src="{{ pictureUrl }}">
      Perfil
    </a>

  </div>
</div>

</div>