<mrt-breadcrumbs
  location="'Codepit / Problemas / ' + problem.oj"
  title="problem.name"
>
</mrt-breadcrumbs>

<mrt-page-wrapper>
  <div
    class="problem-statement"
    ng-if="problem.timelimit || problem.memorylimit"
  >
    <div class="header title print">
      <span>{{problem.printName}}</span>
    </div>
    <div class="header metadata">
      <span ng-if="problem.timelimit">Time limit: {{problem.timelimit}}s</span>
      <span ng-if="problem.memorylimit"
        >Memory limit: {{problem.memorylimit}}</span
      >
      <span ng-if="problem.inputFile">Input: <b>{{problem.inputFile}}</b></span>
      <span ng-if="problem.outputFile"
        >Output: <b>{{problem.outputFile}}</b></span
      >
      <span class="print-button no-print"
        ><a class="small" href="" ng-click="print()" target="_blank"
          >[print]</a
        ></span
      >
    </div>
  </div>
  <div ng-hide="problem.imported">
    <div class="blog-container">
      <div class="blog-section single" style="text-align: center">
        <div class="empty-blog">
          This problem content hasn't been imported yet!&nbsp;&nbsp;&nbsp;
          <div class="rotate90">:(</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="problem.imported">
    <div ng-if="!problem.isPdf">
      <ui-view></ui-view>
    </div>
    <div ng-if="problem.isPdf" class="problem-pdf-wrapper">
      <mrt-pdf
        url="{{problem.url}}"
        containerid="problem-pdf-container"
      ></mrt-pdf>
    </div>
  </div>
  <div class="problem-statement" ng-if="problem.source">
    <p class="footer" ng-bind-html="problem.source"></p>
  </div>
  <div style="margin-top: 20px; float: right" class="no-print">
    <a
      class="small link"
      ng-click="openPage(problem.originalUrl || problem.url)"
      >[original link]
    </a>
  </div>
</mrt-page-wrapper>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$$$','$$$'], ['$', '$']], displayMath: [['$$$$$$','$$$$$$']]},
    CommonHTML: {
      scale: 130
    }
  });
</script>
<script
  type="text/javascript"
  src="//mathjax.codeforces.org/MathJax.js?config=TeX-AMS_HTML-full"
></script>
