md-input-container.md-default-theme:not(.md-input-focused) label {
  color:#aaa !important;
}

md-input-container.md-default-theme input.md-default-theme {
  border-bottom: 1px solid #aaa;
}

md-input-container.md-default-theme input.md-default-theme:focus {
  color: white;
}

md-tooltip .md-content {
    height: auto;
}

md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style {
  min-height: 60px !important;
}

md-icon.material-icons.block {
  display: block !important;
}

.material-icons.md-18 {
  font-size: 18px; }
.material-icons.md-24 {
  font-size: 24px; }
.material-icons.md-36 {
  font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px; }
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {
  color: white; }
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
