.blog-container {
  padding-top: 40px;
}

.blog-container .blog-section {
  border-left: thick solid rgba(93, 106, 115, 1);
  border-right: thick solid rgba(93, 106, 115, 1);
  background-color: #f9f9f9;
  padding: 15px;
}

.blog-container .blog-section.first {
  border-radius: 20px 20px 0 0;
  border-bottom: thin solid rgba(93, 106, 115, 1);
}

.blog-container .blog-section:not(.first) {
  margin-top: 10px;
  border-top: thin solid rgba(93, 106, 115, 1);
}

.blog-container .blog-section:not(.last) {
  border-bottom: thin solid rgba(93, 106, 115, 1);
}

.blog-container .blog-section.last {
  margin-top: 10px;
  border-top: thin solid rgba(93, 106, 115, 1);
  border-radius: 0 0 20px 20px;
}

.blog-container .blog-section.single {
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border-bottom: 0;
}

.blog-container .blog-header {
  font: 500 36px "Open Sans";
  color: #807F7F;
}

.blog-container .blog-header:before {
  content: "_";
}

.blog-container .blog-header-separator {
  margin: 0px 0px 15px 0px;
  border-color: #e2e2e2;
}

.blog-container .blog-body {
  font: 300 16px "Open Sans";
  color: #605F5F;
  padding: 0 20px 0 20px;
}

.blog-container .empty-blog {
  font-size: 1.3em;
}
