/* <-- Create and Edit Contest --> */

.contest-settings-container {
  margin-left: 30px;
}

.contest-settings-container .balloon-ps {
  position: relative;
  margin: auto;
  display: inline-block;
  top: 0;
}

.contest-settings-container .balloon-ps:hover {
  text-decoration: none;
  transition: all 0.2s ease;
  opacity: 0.7;
  top: -3px;
}

.contest-settings-container .balloon-ps-label {
  position: absolute;
  top: 5px;
  left: 0px;
  text-align: center;
  color: white;
  text-shadow:
    -1px 0px 0 #000,
    0px 1px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000;
}

.contest-settings-container .move-handle {
  cursor: move;
  color: #aaa;
}

.contest-settings-container .remove-problem {
  cursor: pointer;
  color: #EF9A9A;
}

.contest-settings-container .informative {
  padding-left: 17px;
  font-size: 12px;
  color: #777;
}

.contest-settings-container h3 {
  font-weight: 300;
  font-size: 30px;
  color: #747474;
  text-align: center;
  margin-bottom: 0px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.contest-settings-container .time-input input {
  border-radius: 0px !important;
  height: 56px;
}

.contest-settings-container .settings-data .time-input .hours input {
  border-left: 0;
}

.contest-settings-container .data-input{
  width: 100%;
  padding: 17px;
  border: solid 1px #d0d0d0;
  border-radius: 0px;
}

.contest-settings-container .data-calendar-input{
  border-right: none;
}

.contest-settings-container .calendar-input{
  border-left: none;
  border-radius: 0px;
}

.contest-settings-container .calendar-input:hover{
  background: none;
  border-color: #d0d0d0;
}

.contest-settings-container .calendar-input:focus{
  outline: none;
  background: none;
  border-color: #d0d0d0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contest-settings-container .calendar-input:select{
  outline: none;
  background: none;
  border-color: #d0d0d0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contest-settings-container .data-input:disabled{
  background-color: #DCDCDC;
  color: #DCDCDC;
}

.contest-settings-container .data-input:focus{
  padding-left: 30px;
  background: url("../imgs/register_area_bullet.png") no-repeat;
  background-position: 16px 23px;
}

.contest-settings-container .data-input.ng-dirty.ng-invalid{
  border: 2px solid #AD7070 !important;
}

.contest-settings-container .input-split .data-input:nth-child(1){
  width: 50%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.contest-settings-container .input-split .data-input:nth-child(2){
  width: 50%;
  float: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.contest-settings-container small.error{
  font-size: 12px;
  color: #AD7070;
  display: block;
}

.contest-settings-container .data-button{
  background-color: #45a7b9;
  padding: 15px;
  color: #fff;
  transition: all 0.3s ease;
}

.contest-settings-container .data-button:hover{
  background: #3B8B9A;
  box-shadow: 0px 2px rgba(0,0,0,0.2);
}

.contest-settings-container .settings-options small {
  margin-left: 20px;
}

.contest-settings-container .settings-options span {
  font-size: 12px;
}

.contest-settings-container .settings-options.checkbox {
  margin-left: 20px;
}

.contest-settings-container .settings-options div:nth-child(1) {
  max-width: 50px;
  text-align: right;
  margin-right: 8px;
}

.contest-settings-container .preview-bar {
  height: 5px;
  display: inline-block;
  width: 50%;
  position: absolute;
  right: 0;
}

.contest-settings-container .frozen-bar {
  background-color: #FFE0B2;
}

.contest-settings-container .blind-bar {
  background-color: #FFCDD2;
}

/* <!------------------!> */

/* <-- Contest View --> */

.contest-view {
  padding: 30px;
}

.contest-view .contest-tabs.nav-tabs {
  text-align: center;
}

.contest-view .contest-tabs.nav-tabs .manage {
  float: right;
  top: 7px;
}

.contest-view .contest-tabs.nav-tabs .manage.active {
  top: 0;
}

.contest-view .contest-tabs.nav-tabs>li{
  float: none;
  display: inline-block;
  border-radius: 0px;
}

.contest-view .contest-tabs.nav-tabs > li.active a{
  padding: 15px 30px;
  border-top: solid 3px #45A7B9;
}

.contest-view .balloon {
  width: 32px;
  position: relative;
  margin: auto;
  display: inline-block;
  top: 0;
}

.contest-view .balloon-contest {
  display: block;
}

.contest-view .balloon:hover {
  text-decoration: none;
  transition: all 0.2s ease;
  opacity: 0.7;
  top: -3px;
}

.contest-view .balloon-label {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 2px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow:
    -1px 0px 0 #000,
    0px 1px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000;
}

.contest-view .join-button {
  position: absolute;
  left: 15px;
}

.contest-view .join-button a,
.contest-view .join-button a:focus {
  background-color: #4DB6AC;
  color: white;
  border-radius: 4px;
  font-weight: 900;
}
.contest-view .join-button a:hover {
  background-color: #26A69A;
}

.contest-view .leave-button {
  position: absolute;
  left: 15px;
}

.contest-view .leave-button a,
.contest-view .leave-button a:focus {
  background-color: #EF9A9A;
  color: white;
  border-radius: 4px;
  font-weight: 900;
}
.contest-view .leave-button a:hover {
  background-color: #E57373;
}

tr.submission-row {
  border-style: none none solid none;
  border-color: #999;
  border-width: 2px;
  text-align: left;
}

tr.submission-row-parent {
  border-style: none none solid none;
  border-color: #999;
  border-width: 3px;
  text-align: left;
}

.contest-view .submission-row.blue-submission {
  background-color: #D3E3FB;
}

.contest-view .submission-row.grey-submission {
  background-color: #DDDDDD;
}

.contest-view .submission-row.yellow-submission {
  background-color: #FCFFCC;
}

.contest-view .submission-row.green-submission {
  background-color: #CEE0BC;
}

.contest-view .submission-row.red-submission {
  background-color: #FFBBBA;
}

.contest-view .team-label {
  font-size: 13px;
  color: #0061FF;
}
.contest-view .row-handles {
  font-size: 12px;
}

.contest-view .user-label {
  color: #777;
  font-weight: 600;
}

.contest-view .user.user-label {
  font-size: 13px;
}

.contest-view .scoreboard th {
  text-align: center;
}
.contest-view .scoreboard td {
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
}

.contest-view .scoreboard .user-row {
  background-color: #F4F4F4;
}
.contest-view .scoreboard .user-row .rank-cell {
  font-weight: 600;
}

.contest-view .scoreboard .accepted-cell {
  background-color: #CCFF90;
}
.contest-view .scoreboard .accepted-cell.first-accepted {
  background-color: #8BC34A;
  color: white;
}
.contest-view .scoreboard .rejected-cell {
  background-color: #FFA49C !important;
}
.contest-view .scoreboard .pending-cell {
  background-color: #FFF9C4;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  50% { background-color: #FFF; }
}
@-webkit-keyframes blinker {
  50% { background-color: #FFF; }
}
@keyframes blinker {
  50% { background-color: #FFF; }
}

.verdict {
  font-weight: 600;
}
.verdict.red-submission {
  color: #F44336;
}
.verdict.green-submission {
  color: #388E3C;
}
.verdict.yellow-submission {
  color: #F9A825;
}
.verdict.grey-submission {
  color: #757575;
}
.verdict.blue-submission {
  color: #0091EA;
}

#join-contest-id md-sidenav,
#join-contest-id .md-sidenav-backdrop {
  height: 100%;
  position:fixed;
}

#join-contest-id md-content {
  margin-left: 12px;
}

/* <!------------------!> */

/* <-- Contests List --> */

.contests-list-wrapper {
  margin-top: 30px;
}

#contests-list{
  padding-left: 40px;
  padding-right: 40px;
}

#contests-list .table-container{
  border-radius: 4px;
  border: solid 1px #f1f0f0;
}

#contests-list .table-container h2{
  font: 600 20px "Open Sans";
  margin: 20px;
  color: #747474;
}

#contests-list .table-container h2.orange-text{
  color: #F3643C;
}

#contests-list .table-container table{
  border-top: solid 1px #f1f0f0;
  margin-bottom: 0px;
}

#contests-list .table-container table tr td, .table-container table tr th{
  padding: 15px;
}

#contests-list .orange-text{
  color: #F3643C;
}

#contests-list .team-admin {
  color: #E57373;
  vertical-align: super;
  font-size: 10px;
}

/* <!------------------!> */

/* <-- Miscellaneous --> */

a.balloon-label,
a.balloon-label:link,
a.balloon-label:visited,
a.balloon-label:hover,
a.balloon-label:active,
a.balloon-ps-label,
a.balloon-ps-label:link,
a.balloon-ps-label:visited,
a.balloon-ps-label:hover,
a.balloon-ps-label:active {
    color: white;
    text-decoration: inherit;
    font-weight: inherit;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
