.problem-statement, .timus-problem, .kattis-problem, font {
    margin: 0.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1.4rem;
    text-align: justify;
}

.problem-statement span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.4rem !important;
}

.problem-statement .epigraph {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
}

.problem-statement p {
    margin: 0 0 1em 0 !important;
}

.problem-statement .header {
  display: flex;
  justify-content: center;
}

.problem-statement .header.title {
  display: none;
}

.problem-statement .header.metadata {
  margin-top: -20px;
  margin-bottom: 1em;
  border-bottom: #DDD solid 1px;
  padding-bottom: 0.8em;
}

.problem-statement .header.metadata span {
    color: #777;
    font-size: 12px;
    font-weight: normal;
    margin: 0 60px 0 60px;
}

.problem-statement .header .print-button {
  position: absolute;
  right: 0;
}

.problem-statement .header.metadata .title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.problem-statement .header.metadata .title {
    font-size: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.problem-statement ul {
    list-style: disc;
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement ol {
    list-style: decimal;
    list-style-type: decimal;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement li {
    line-height: 1.5em;
    margin-left: 3em;
}

.problem-statement .property-title {
    display: inline;
    padding-right: 4px;
}

.problem-statement .property-title:after {
    content: ":";
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file, .problem-statement .output-file {
    margin: 0 auto;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title, #codechef h3, .zoj-problem h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    /*font-family: arial,sans-serif;*/
    font-size: 115% !important;
    font-weight: bold !important;
}

#codechef h3 {
  margin-bottom: 5px;
}

.problem-statement .input-specification,
    .problem-statement .output-specification,
    .problem-statement .sample-tests,
    .problem-statement .author,
    .problem-statement .resource,
    .problem-statement .date {
    /*margin-bottom: 1em;*/
}

.problem-statement .output-specification {
    margin-bottom: 1em;
}

.kattis-problem table.sample {
  /*display: block;*/
  width: 100%;
  table-layout: fixed;
  border: 1px solid #888;
  margin-bottom: 1em;
  font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}

.kattis-problem table.sample th {
  font-size: 1em;
  padding: 0.25em;
  border-bottom: 1px solid #888;
  text-transform: lowercase;
  font-weight: bold;
  border-right: 1px solid #888;
}

.kattis-problem table.sample td {
  border-right: 1px solid #888;
  background-color: #efefef;
  vertical-align: top;
}

.kattis-problem table.sample pre {
  line-height: 1.25em;
  padding: 0.25em;
  margin: 0;
  background-color: #efefef;
  border: none;
  border-radius: 0px;
  font-size: 0.9em;
}

.problem-statement .sample-tests .input, .problem-statement .sample-tests .output {
    border: 1px solid #888;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.problem-statement .sample-tests pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
    border: none;
    border-radius: 0px;
}

.problem-statement .sample-tests, .timus-problem .sample pre, .toj-problem pre {
  font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier !important;
  font-size: 0.9em !important;
  font-weight: normal !important;
}

.problem-statement .sample-tests .title {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: arial,sans-serif;*/
    font-size: 1.3em;
    padding: 0.25em;
    border-bottom: 1px solid #888;
    text-transform: lowercase;
    font-weight: bold;
}

.problem-statement .test {
    margin-bottom: 3em;
}

.problem-statement .test-title {
    /*font-size: 150%;*/
    font-weight: bold;
}

.problem-statement .test-stem {
    margin: 0.5em 0 0.5em 0;
}

.problem-statement input[type="submit"] {
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0 1em;
}

.problemindexholder {
    position: relative;
}

div .problem-statement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 50;
    opacity: 0.2;
}

.load-answers-waiting-indicator {
    position: absolute;
    top: 49%;
    left: 49%;
}

.problem-statement h1{
    font-size: 28px;
}

.poj-problem p.pst {
  margin: 10px 0 0 0 !important;
}

.toj-problem h3 {
  font-size: 18px !important;
  font-weight: bold !important;
  margin: 20px 0 10px !important;
}

.problem-statement h2, .kattis-problem h2,
.poj-problem p.pst, .toj-problem h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;
}

.problem-statement input[type="radio"] {
    margin-right: 0.5em;
}

.problem-statement input[type="checkbox"] {
    margin-right: 0.5em;
}


.problem-statement input[type="text"] {
    width: 20em;
}

.problem-statement textarea {
    width: 20em;
    height: 7em;
}

.problem-statement sup, sub{
    vertical-align: inherit;
    font-size: 10px;
    position: relative;
}

.problem-statement sup{
    top: -3px;
}

.problem-statement sub{
    bottom: -3px;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.problem-statement .both{
    clear: both;
}

.tex-formula {
    font-family: times new roman,sans-serif;
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman,sans-serif;
    white-space: nowrap;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new,monospace;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-it {
    font-style: italic;
}

.tex-font-style-sl {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-font-style-striked {
    text-decoration: line-through;
}

.tex-graphics {
    display: block;
}

/* URI stuff */
.problem-statement .problem {
    line-height: 20px;
}
.problem-statement .description p, .input p, .output p {
    margin: 0 0 10px 0;
}
.problem-statement .problem table{
    border-bottom: #BBB solid 1px;
    border-collapse: collapse;
    border-top: #BBB solid 1px;
    margin: 15px 0;
    width: 100%;
}
.problem-statement .problem table p {
    margin: 0 !important;
}
.problem-statement .problem table thead{
    font-weight: bold;
    text-align: center;
}
.problem-statement .problem table tbody{
    font-family: "Courier New", Courier, "Nimbus Mono L", monospace;
    background: #EFEFEF;
}
.problem-statement .problem table tbody td{
    border-bottom: #BBB solid 1px;
    border-top: #BBB solid 1px;
    padding: 5px;
    vertical-align: text-top;
    width: 50%;
}
.problem-statement .division{
    border-right: #BBB solid 1px;
}
.problem-statement .problem b{
    font-weight: bold;
}
.problem-statement .problem i{
    font-style: italic;
}
.problem-statement .problem u{
    text-decoration: underline;
}
.problem-statement .problem .center{
    text-align: center;
}
.problem-statement .code {
    font-family: "Courier New", Courier, "Nimbus Mono L", monospace;
}
.problem-statement p code,
.problem-statement ul code{
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500;
}
.problem-statement .footer {
    color: #545454;
    font-size: 10px;
    line-height: 12px;
}
.problem-statement img {
  vertical-align: top !important;
}

.timus-problem TABLE.sample {border:solid 1px #000; border-collapse:collapse;}
.timus-problem TABLE.sample TR TD, .timus-problem TABLE.sample TR TH {border:solid 1px #000; padding:3px; vertical-align:top;}
.timus-problem DIV.problem_limits {line-height:1.4em; margin:0 0 14px 0; text-align:center;}
.timus-problem DIV.problem_source {line-height:1.4em; margin:10px 0 0 0;}
.timus-problem DIV.problem_links {font-size:1.15em; margin:14px 0 6px 0; line-height:1.4em;}
.timus-problem DIV.problem_centered_picture {margin:12px 0 12px 0; text-align:center;}
.timus-problem IMG.problem_laimage {margin:4px 15px 6px 0;}
.timus-problem IMG.problem_raimage {margin:4px 0 6px 15px;}
.timus-problem DIV.problem_par, .timus-problem DIV.problem_par_pre {margin:0 0 10px 0;}
.timus-problem DIV.problem_par {line-height:1.4em;}
.timus-problem DIV.problem_par_normal {text-align:justify;}
.timus-problem DIV.problem_par_center {text-align:center;}
.timus-problem DIV.problem_par_right {text-align:right;}
.timus-problem DIV.problem_par_epigraph {font-style:italic; padding-left:50%; text-align:left;}
.timus-problem DIV.problem_par UL, .timus-problem DIV.problem_par OL {margin-bottom:10px; margin-top:4px;}
.timus-problem DIV.problem_par TABLE {border:solid 1px Black; border-collapse:collapse;}
.timus-problem DIV.problem_par TABLE TR TH, .timus-problem DIV.problem_par TABLE TR TD {border:solid 1px Black; padding:4px;}
.timus-problem SPAN.problem_tags_toggle, .timus-problem SPAN.problem_tags_toggle A {color:Gray;}
.timus-problem TABLE.sample, .timus-problem TABLE.sample TR TD, .timus-problem TABLE.sample TR TH {border-color:Black;}
.timus-problem TABLE.sample TR TH, .timus-problem H2.problem_title, .timus-problem H3.problem_subtitle {color:Black;}
.timus-problem H3.problem_subtitle { font-size: 18px; font-weight: bold; margin: 20px 0 10px; }
.timus-problem pre { background-color: #fff; border: none; margin: 0px; }
.timus-problem A, .timus-problem A:visited, .timus-problem A:hover {color:Black;}

.problem-pdf-wrapper {
  padding: 0 50px 0 50px;
  text-align: center;
}

@media print {
  .problem-statement .header.title {
    display: flex !important;
    margin: 0px 0 30px 0;
  }
  .problem-statement .header.title span {
    font-size: 30px;
    font-weight: 200;
    color: #777;
  }
  .problem-statement .header.metadata {
    margin-top: 0 !important;
  }
  .problem-pdf-wrapper {
    margin-left: -50px;
    padding: 0 !important;
    text-align: left;
  }
  .textLayer {
    display: none !important;
  }
}

.kattis-problem div.illustration {
    float: right;
    padding-left: 20px;
}
.kattis-problem div.illustration .illustration {
    width: 70%;
    border-radius: 4px;
}
.kattis-problem div.description {
    color: #898992;
    font-style: italic;
    font-family: "Merriweather",serif;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
}
