<style>
  div.container {
    font-family: "Open Sans", "HelveticaNeue-Light", Helvetica, Arial;
    width: 500px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  div .paragraph {
    font-weight: 100;
    margin: 30px;
  }
  a.button {
    background-color: #00bcd4;
    padding: 10px;
    text-decoration: none;
    color: initial;
    border-radius: 5px;
  }
  a.button span {
    color: #fff;
  }
  small {
    margin: 10px;
    font-size: 11px;
  }
</style>
<div class="container">
  <img src="https://www.codepit.io/imgs/codepit-full-blue.png" width="300px" />
  <h2><p>Hi, <%- firstName %>!</p></h2>
  <div class="paragraph">
    <p>
      Recently someone requested to reset your password on Codepit. If that
      someone wasn't you, ignore this e-mail. Otherwise, click the following
      link to reset your password.
    </p>
  </div>
  <div class="paragraph">
    <a href="<%- domain %>/#/recover/<%- hash %>" class="button"
      ><span>Reset Password</span></a
    >
  </div>
  <div class="paragraph">
    <small
      >Remember you must be logged off any account on Codepit to access the
      link. If even then the link doesn't work, visit the following URL
      manually: <%- domain %>/recover<%- hash %></small
    >
  </div>
  <div class="paragraph">
    <small>This link will expire in 30 minutes.</small>
  </div>
</div>
