<style>
  div.container {
    font-family: "Open Sans", "HelveticaNeue-Light", Helvetica, Arial;
    width: 500px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  div .paragraph {
    font-weight: 100;
    margin: 30px;
  }
  a.button {
    background-color: #00bcd4;
    padding: 10px;
    text-decoration: none;
    color: initial;
    border-radius: 5px;
  }
  a.button span {
    color: #fff;
  }
  small {
    margin: 10px;
    font-size: 11px;
  }
</style>
<div class="container">
  <img src="https://www.codepit.io/imgs/codepit-full-blue.png" width="300px" />
  <h2><p>Welcome to Codepit, <%- firstName %>!</p></h2>
  <div class="paragraph">
    <p>
      If this e-mail is not directed to you, just ignore this message.
      Otherwise, click on the following link to verify your account.
    </p>
  </div>
  <div class="paragraph">
    <a href="<%- domain %>/profile/verify/<%- hash %>" class="button"
      ><span>Verify Account</span></a
    >
  </div>
  <div class="paragraph">
    <small
      >If the link doesn't work, visit the following URL manually: <%- domain
      %>/profile/verify/<%- hash %></small
    >
  </div>
  <div class="paragraph">
    <small>This link will expire in 30 minutes.</small>
  </div>
</div>
