<md-dialog>
  <md-dialog-content>
    <div class="md-dialog-content">
      <mrt-loading-spinner ng-if="loading" diameter="100"></mrt-loading-spinner>
      </mrt-page-wrapper>
      <div ng-repeat="s in submissions" layout="row">
        <p><a ui-sref="submission({id:s._id})" target="_blank"><i class="fa fa-eye"></i></a></p>
        <p>&nbsp;&nbsp;</p>
        <p class="verdict" ng-class="verdict[s.verdict].class">{{verdict[s.verdict].text}}</p>
        <p>&nbsp;...&nbsp;</p>
        <p>{{languages[s.language]}}</p>
        <div flex align="right" style="margin-left: 15px;">
          <p ng-bind-html="s.date | mrtFilterTime">
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
