<mrt-breadcrumbs
  location="'Codepit / Competições / ' + state.current.title"
  title="contest.name">
</mrt-breadcrumbs>

<mrt-page-wrapper wait-while='loading' class="contest-view">
  <mrt-contest-progress
    start-time="contest.date_start"
    end-time="contest.date_end"
    frozen-time="contest.frozen_time"
    blind-time="contest.blind_time"
    has-frozen="contest.hasFrozen"
    has-blind="contest.hasBlind">
  </mrt-contest-progress>
  <div class="row">
    <div class="col-sm-12 bs-component">
      <ul class="contest-tabs nav nav-tabs" style="margin-bottom: 15px;">
        <li class="join-button" ng-if="!contest.inContest">
          <a href="" ng-click="toggleRight()">Participar&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </li>
        <li ng-class="{active: state.current.name === 'contest.scoreboard'}">
          <a ui-sref=".scoreboard">Placar&nbsp;<i class="fa fa-trophy" aria-hidden="true"></i></a>
        </li>
        <li ng-class="{active: state.current.name === 'contest.submit'}" ng-if="contest.inContest">
          <a ui-sref=".submit">Submeter&nbsp;<i class="fa fa-send" aria-hidden="true"></i></a>
        </li>
        <li ng-class="{active: state.current.name === 'contest.submissions'}" ng-if="contest.inContest">
          <a ui-sref=".submissions">Submissões&nbsp;<i class="fa fa-bars" aria-hidden="true"></i></a>
        </li>
        <li class="manage" ng-class="{active: state.current.name === 'contest.edit'}" ng-if="contest.isContestAdmin">
          <a ui-sref=".edit">Editar&nbsp;<i class="fa fa-wrench" aria-hidden="true"></i></a>
        </li>
        <li class="leave-button" ng-if="contest.inContest && submissions.length === 0">
          <md-tooltip md-direction="left">
            Você pode se desregistrar da competição<br>
            enquanto não tiver feito nenhuma ação nela.</br>
          </md-tooltip>
          <a href="" mrt-confirm-click="leave()">Sair&nbsp;<i class="fa fa-user-times" aria-hidden="true"></i></a>
        </li>
      </ul>
      <div class="tab-content">
        <div ng-show="state.current.name === 'contest.scoreboard'">
          <ng-include src="'views/contests/contest/contest.scoreboard.html'"></ng-include>
        </div>
        <div ng-show="state.current.name === 'contest.submit'">
          <ng-include src="'views/contests/contest/contest.submit.html'"></ng-include>
        </div>
        <div ng-show="state.current.name === 'contest.submissions'">
          <ng-include src="'views/contests/contest/contest.submissions.html'"></ng-include>
        </div>
        <div ng-show="state.current.name === 'contest.edit'">
          <ng-include src="'views/contests/settings/contest.settings.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</mrt-page-wrapper>

<ng-include src="'views/contests/contest/contest-join-sidenav.html'"></ng-include>
