<div ng-controller="ContestSubmissionsController" class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="submission-row submission-row-parent">
          <th>Tempo</th>
          <th>Questão</th>
          <th>Linguagem</th>
          <th>Status</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in ContestState.submissionsIds" class="submission-row" ng-class="verdict[ContestState.submissions[s].verdict].class">
          <td>{{ContestState.submissions[s].minutes}}</td>
          <td>
            <div class="balloon" ng-show="ContestState.submissions[s].problem != null">
              <img ng-src="/imgs/baloes/{{ContestState.submissions[s].index}}.png" class="balloon-image" />
              <a ui-sref="problems({id:ContestState.submissions[s].problem, index:$index})" target="_blank" class="balloon-label">{{ContestState.submissions[s].index | mrtAlphabetize}}</a>
            </div>
            <div class="balloon" ng-hide="ContestState.submissions[s].problem != null">--</div>
          </td>
          <td>{{languages[ContestState.submissions[s].language]}}</td>
          <td>{{verdict[ContestState.submissions[s].verdict].text}}&nbsp;<span><md-progress-circular ng-if="ContestState.submissions[s].verdict <= 0" class="md-accent md-hue-3" style="display: inline-block; top: 5px;" md-mode="indeterminate" md-diameter="20"></md-progress-circular></span></td>
          <td colspan="5"><a ui-sref="submission({id:s})"><i class="fa fa-eye"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
