<div ng-controller="ContestSubmitController">
	<div layout="row" layout-margin ng-hide="loading">
		<div flex="10"></div>
		<div layout="column" flex="55">
			<form name="form">
				<span>Code</span>
				<ui-codemirror style="text-align: left; cursor: text;" ui-codemirror-opts="editorOptions" style="text-align: left;" ui-refresh="editorOptions.mode" ng-model="ContestState.submit.code" ng-required="!ContestState.submit.codefile"></ui-codemirror>
				<div layout="row" layout-align="center center" layout-margin>
					<div flex="30">
						<b>OR</b> select file
					</div>
					<md-button class="md-raised md-accent" flex="30" type="file" ngf-select
					ngf-drop ng-model="ContestState.submit.codefile" ngf-max-files="1" ngf-max-size="'64KB'"
					ngf-drag-over-class="'md-primary md-hue-1'" ngf-model-invalid="ContestState.submit.errorfile"
					name="file">
					&nbsp;&nbsp;File<md-icon class="material-icons">attach_file</md-icon>
				</md-button>
				<div flex="40" layout-align="left center">
					<i class="md-body-1">{{ContestState.submit.codefile.name}}</i>
					<i ng-show="form.file.$error.maxSize">
						<span>File is too big ({{ContestState.submit.errorfile.size / 1000|number:1}}KB: max 64KB)</p>
						</i>
					</div>
					<div ngf-src="ContestState.submit.file" ngf-background="ContestState.submit.file"></div>
				</div>
			</form>
		</div>
		<div layout="column" flex="25" layout-padding>
			<md-input-container>
				<label>Problem</label>
				<md-select ng-model="ContestState.submit.problem">
					<md-option ng-value="0">(draft)</md-option>
					<md-option ng-repeat="problem in ContestState.problems" ng-value="problem._id">
						{{problem | mrtProblemSubmitName : $index}}
					</md-option>
				</md-select>
			</md-input-container>
			{{contest}}
			<md-input-container>
				<label>Language</label>
				<md-select ng-model="ContestState.submit.language" ng-change="updateTextMode()">
					<md-option ng-repeat="lang in ContestState.contest.languages" ng-value="lang">
						{{languagesDict[lang]}}
					</md-option>
				</md-select>
			</md-input-container>
			<small ng-if="ContestState.submit.language === 'java'" class="informative">
				For submissions in Java, remember to use the classname <b>Main</b>.
			</small>
			<div flex>
				<md-button class="md-fab md-primary md-hue-2" ng-click="submit()" disabled="false" ng-disabled="form.$invalid || ContestState.submit.problem == null || !ContestState.submit.language">
					<md-icon class="material-icons block">send</md-icon>
				</md-button>
			</div>
		</div>
		<div flex="10"></div>
	</div>
	<div ng-show="loading">
		<mrt-loading-spinner diameter="200"></mrt-loading-spinner>
	</div>
</div>
