<mrt-page-wrapper wait-for="!loadingData" ng-if="!notShowEmpty || contests.length > 0">
  <div id="contests-list" class="row">
    <div class="table-container">
      <h2 ng-if="subTitle" class="orange-text">{{subTitle}}</h2>
      <table class="table table-striped" infinite-scroll="fetchData()" infinite-scroll-distance="0">
        <thead>
          <tr>
            <th class="col-md-3"><a class="link" ng-click="order('name')">Nome</a></th>
            <th class="col-md-2"><a class="link" ng-click="order('date_start')">Início</a></th>
            <th class="col-md-2"><a class="link" ng-click="order('date_end')">Fim</a></th>
            <th class="col-md-1"><a class="link" ng-click="order('duration')">Duração</a></th>
          </tr>
        </thead>
        <tbody>
          <tr class="animation" ng-repeat="contest in contests | orderBy:predicate:reverse">
            <td>
              <mrt-contest-label
                contest="contest"
                admin-flag="contest.isAdmin && adminFlag"
                new-flag="contest.isAdmin && isNewContest(contest.date_created) && newFlag">
              </mrt-contest-label>
              <i class="fa fa-lock contests-view-table-icon" ng-if="contest.isPrivate">
                <md-tooltip md-direction="top">Possui senha para se registrar.</md-tooltip>
              </i>
              <i class="fa fa-user-secret contests-view-table-icon" ng-if="contest.watchPrivate">
                <md-tooltip md-direction="top">Apenas quem está registrado pode entrar no link.</md-tooltip>
              </i>
            </td>
            <td><mrt-display-time date="contest.date_start"></mrt-display-time></td>
            <td><mrt-display-time date="contest.date_end"></mrt-display-time></td>
            <td>{{contest.duration | formatDuration : true}}</td>
          </tr>
          <tr ng-hide="contests.length">
            <td colspan="6"><span style="font-style: italic;">{{emptyMessage}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
