<mrt-breadcrumbs
  location="'Codepit / Competições'"
  title="'Competições em aberto'">
</mrt-breadcrumbs>

<div class="contests-list-wrapper">
  <mrt-contest-list
    filter-type="joined_now"
    sub-title="'Participando'"
    empty-message="'Você não está participando de nenhuma competição que está acontecendo agora.'"
    admin-flag="true"
    not-show-empty="true">
  </mrt-contest-list>
  <mrt-contest-list
    filter-type="now"
    sub-title="'Acontecendo agora'"
    empty-message="'Nenhuma competição acontencendo.'"
    admin-flag="true">
  </mrt-contest-list>
  <mrt-contest-list
    filter-type="future"
    sub-title="'Próximas'"
    empty-message="'Nenhuma competição futura.'"
    admin-flag="true">
  </mrt-contest-list>
</div>
