<mrt-breadcrumbs location="'Codepit / Contests'" title="'Open contests'">
</mrt-breadcrumbs>

<div class="contests-list-wrapper">
  <mrt-contest-list
    filter-type="joined_now"
    sub-title="'Joined'"
    empty-message="'You are not participating in any current contest.'"
    admin-flag="true"
    not-show-empty="true"
    ng-if="$root.user.isAuthenticated()"
  >
  </mrt-contest-list>
  <mrt-contest-list
    filter-type="now"
    sub-title="'Happening now'"
    empty-message="'There are no contests happening now.'"
    admin-flag="true"
  >
  </mrt-contest-list>
  <mrt-contest-list
    filter-type="future"
    sub-title="'Upcoming'"
    empty-message="'There are no contests in the future.'"
    admin-flag="true"
  >
  </mrt-contest-list>
</div>
