<style>
  div {
    font-family: "Open Sans", "HelveticaNeue-Light", Helvetica, Arial;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  p {
    font-weight: 100;
  }
</style>
<div>
  <img src="http://localhost/imgs/codepit-full-blue.png" width="200px"/>
  <h2><p>Oi, <%- description %>!</p></h2>
  <p>Bem-vindo ao Codepit!</p>
  <p>Caso este e-mail não seja direcionado a você, ignore a mensagem. Caso contrário, <a href="">clique aqui</a> para confirmar sua conta, ou navegue até a seguinte URL manualmente:</p>
  <p>https://dkasldkalkdlsakdlas.com/dasdmasdsa</p>
  <p>Pronto, agora você já pode criar competições!</p>
</div>
