<style>
  div.container {
    font-family: "Open Sans", "HelveticaNeue-Light", Helvetica, Arial;
    width: 500px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  div .paragraph {
    font-weight: 100;
    margin: 30px;
  }
  a.button {
    background-color: #00BCD4;
    padding: 10px;
    text-decoration: none;
    color: initial;
    border-radius: 5px;
  }
  a.button span {
    color: #fff;
  }
  small {
    margin: 10px;
    font-size: 11px;
  }
</style>
<div class="container">
  <img src="https://www.codepit.io/imgs/codepit-full-blue.png" width="300px"/>
  <h2><p>Bem-vindo ao Codepit, <%- name %>!</p></h2>
  <div class="paragraph">
    <p>Caso este e-mail não seja direcionado a você, apenas ignore a mensagem. Caso contrário, clique no botão a seguir para confirmar sua conta.</p>
  </div>
  <div class="paragraph">
    <a href="www.google.com" class="button"><span>Verificar sua Conta</span></a>
  </div>
  <div class="paragraph">
    <small>Caso o link não funcione, visite a seguinte URL manualmente: <%- verifyUrl %></small>
  </div>
</div>
