<div class="container-fluid" id="breadcrumbs">
  <div class="row">
    <div class="col-md-12">
      <span>Codepit / Competições</span>
      <h2>{{ contest.name }}</h2>
    </div>
  </div>
</div>

<div class="contest-view">
  <mrt-page-wrapper wait-while='loading' align='center'>
    <div class="row" style="margin-bottom: 20px;" ng-if="displayTop()">
      <div style="margin-bottom: 10px;">
        <span style="font-weight: 200; font-size: 18px;">Tempo: {{(timeState.server.dynamic - contest.date_start) / 60000 | formatDuration}}</span>
      </div>
      <div class="col-sm-12">
        <md-progress-linear md-theme="progressBarTheme" md-mode="determinate" ng-value="getPercentage()"></md-progress-linear>
      </div>
      <div>
        <span style="float: right; font-weight: 200;">restam {{(contest.date_end - timeState.server.dynamic) / 60000 | formatDuration}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 bs-component">
        <ul id="contest-tabs" class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="join-button" ng-if="!contest.inContest">
            <a href="" ng-click="toggleRight()">Participar&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></a>
          </li>
          <li ng-class="{active: state.current.name === 'contest.scoreboard'}">
            <a ui-sref=".scoreboard">Placar</a>
          </li>
          <li ng-class="{active: state.current.name === 'contest.submit'}" ng-if="contest.inContest">
            <a ui-sref=".submit">Submeter</a>
          </li>
          <li ng-class="{active: state.current.name === 'contest.submissions'}" ng-if="contest.inContest">
            <a ui-sref=".submissions">Submissões</a>
          </li>
          <li class="leave-button" ng-if="contest.inContest && submissions.length === 0">
            <md-tooltip md-direction="left">
              Você pode se desregistrar da competição<br>
              enquanto não tiver feito nenhuma ação nela.</br>
            </md-tooltip>
            <a href="" mrt-confirm-click="leave()">Sair&nbsp;<i class="fa fa-user-times" aria-hidden="true"></i></a>
          </li>
        </ul>
        <div class="tab-content">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </mrt-page-wrapper>
</div>

<ng-include src="'views/contests/contest-join-sidenav.html'"></ng-include>
