<mrt-page-wrapper wait-for="!loadingData">
  <div id="contests-list" class="row">
    <div class="table-container">
      <h2 ng-if="subTitle" class="orange-text">{{subTitle}}</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-3"><a class="link" ng-click="order('name')">Nome</a></th>
            <th class="col-md-2"><a class="link" ng-click="order('date_start')">Início</a></th>
            <th class="col-md-1"><a class="link" ng-click="order('duration')">Duração</a></th>
            <th class="col-md-1" style="text-align: center;">Tipo</th>
            <th class="col-md-1" style="text-align: center;">Acesso</th>
            <th ng-if="withActionCol" class="col-md-1" style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animation" ng-repeat="contest in contests | orderBy:predicate:reverse">
            <td>
              <mrt-contest-label
                linkable="contest.isAdmin || !contest.watchPrivate || contest.isInContest"
                contest="contest"
                admin-flag="contest.isAdmin && adminFlag"
                new-flag="contest.isAdmin && isNewContest(contest.date_created) && newFlag">
              </mrt-contest-label>
            </td>
            <td><mrt-display-time date="contest.date_start"></mrt-display-time></td>
            <td>{{contest.duration | formatTime : false}}</td>
            <td class="contests-view-table-td">
              <i class="fa fa-user contests-view-table-icon" ng-if="contest.contestantType != '2'" data-toggle="tooltip" title="Perfis individuais podem participar." tooltip></i>
              <i class="fa fa-users contests-view-table-icon" ng-if="contest.contestantType != '1'" data-toggle="tooltip" title="Times podem participar." tooltip></i>
            </td>
            <td class="contests-view-table-td">
              <i class="fa fa-lock contests-view-table-icon" ng-if="contest.isPrivate" data-toggle="tooltip" title="Possui senha para se registrar." tooltip></i>
              <i class="fa fa-unlock contests-view-table-icon" ng-if="!contest.isPrivate" data-toggle="tooltip" title="Não possui senha para se registrar." tooltip></i>
              <i class="fa fa-user-secret contests-view-table-icon" ng-if="contest.watchPrivate" data-toggle="tooltip" title="Apenas quem está registrado pode entrar no link." tooltip></i>
              <i class="fa fa-globe contests-view-table-icon" ng-if="!contest.watchPrivate" data-toggle="tooltip" title="Qualquer um pode entrar no link." tooltip></i>
            </td>
            <td ng-if="withActionCol" class="contests-view-table-td">
              <a class="join-contest-button" class="link" ng-hide="contest.isInContest" ng-click="toggleRight(contest)"><i class="fa fa-user-plus contests-view-table-icon join-contest-icon"></i></a>
              <a ng-show="contest.isInContest && isInFuture(contest.date_start)" class="link" confirmed-click="leave(contest)" style="color: #F66;"><i class="fa fa-user-times contests-view-table-icon" data-toggle="tooltip" title="Sair da competição (só possível enquanto ela não começa)." tooltip></i></a>
              <a ng-show="contest.isAdmin" ng-hide="isOldDate(contest.date_end)" ui-sref=".edit"><i class="fa fa-cog contests-view-table-icon" data-toggle="tooltip" title="Editar." tooltip></i></a>
              <a ng-show="contest.isAdmin" class="link" confirmed-click="remove(contest._id)"><i class="fa fa-times contests-view-table-icon" data-toggle="tooltip" title="Excluir." tooltip></i></a>
            </td>
          </tr>
          <tr ng-hide="contests.length">
            <td colspan="6"><span style="font-style: italic;">{{emptyMessage}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
