<div ng-if="timeLeft === 0" class="alert alert-info alert-dismissible" role="alert" style="margin-top:10px;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>A competição acabou!</strong> Qualquer submissão feita a partir de agora contará como upsolving - competição que continua rolando após o término da competição principal, mas não conta no placar oficial.
	</div>
	<div class="row" style="margin-top: 20px;">
	<div class="col-md-6 col-centered">
	  <form name="submitProblemForm">
	    <span>Código</span>
			<ui-codemirror ui-codemirror-opts="editorOptions" style="text-align: left;"></ui-codemirror>
	    <!-- <textarea type="text" style="height: 500px; margin: 10px 0 80px; resize: vertical;" class="form-control" ng-model="submission.code" name="code" ></textarea> -->
	  </form>
	</div>
	<div class="col-md-4" style="margin-top: 20px;">
	  <table class="create-contest-table">
	    <tbody>
	      <tr>
	        <td colspan="1" class="col-md-1" style="padding: 0;">Problema</td>
	        <td colspan="2" class="col-md-2" style="padding: 0 10px 0 0;">
	          <select class="form-control" ng-model="submission.problem">
	            <option ng-value="0">(rascunho)</option>
	            <option ng-repeat="problem in problemsArray" ng-value="problem._id">{{problem | problemSubmitName : $index}}</option>
	          </select>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="1" class="col-md-1" style="padding: 0;">Linguagem</td>
	        <td colspan="2" class="col-md-2" style="padding: 0 10px 0 0;">
	          <select class="form-control" ng-model="submission.language">
	            <option ng-repeat="(id,name) in languages" ng-value="id">{{name}}</option>
	          </select>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="3"><button type="button" ng-click="submit()" class="btn btn-default btn-block" ng-class="{'disabled': submittingProblem}" style="margin-top:15px;">Submeter&nbsp;<i class="fa fa-paper-plane-o"></i></button></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	</div>
