<div ng-show="loadingData">
  <i class="fa fa-spin fa-spinner fa-5x"></i>
</div>
<div ng-hide="loadingData" class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="submission-row submission-row-parent">
          <th>Tempo</th>
          <th>Questão</th>
          <th>Linguagem</th>
          <th>Status</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in submissionsIds" class="submission-row" ng-class="verdict[submissions[s].verdict].class">
          <td>{{submissions[s].minutes}}</td>
          <td>
            <div class="balloon">
              <img ng-src="/imgs/baloes/{{submissions[s].index}}.png" class="balloon-image" />
              <a ui-sref="problems.view({id:submissions[s].problem})" target="_blank" class="balloon-label">{{submissions[s].index | mrtAlphabetize}}</a>
            </div>
          </td>
          <td>{{languages[submissions[s].language]}}</td>
          <td>{{verdict[submissions[s].verdict].text}}&nbsp;<span><md-progress-circular ng-if="submissions[s].verdict <= 0" class="md-accent md-hue-3" style="display: inline-block; top: 5px;" md-mode="indeterminate" md-diameter="20"></md-progress-circular></span></td>
          <td colspan="5"><a ui-sref="submission({id:s})"><i class="fa fa-eye"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
