<mrt-breadcrumbs
location="'Codepit / Competições'"
title="'Criar competição'">
</mrt-breadcrumbs>

<mrt-page-wrapper>
  <div id="create-contest-container" layout="row">
    <div layout="column" flex="20">
      <ul class="nav nav-tabs nav-stacked nav-pills">
        <li ng-class="{'active': settingsState.tab === 0}">
          <a class="btn-lg" ng-click="changeTab(0)" href="">Dados</a>
        </li>
        <li ng-class="{'active': settingsState.tab === 1}">
          <a class="btn-lg" ng-click="changeTab(1)" href="">Problemas</a>
        </li>
        <li ng-class="{'active': settingsState.tab === 2}">
          <a class="btn-lg" ng-click="changeTab(2)" href="">Opções</a>
        </li>
        <li ng-class="{'active': settingsState.tab === 3}">
          <a class="btn-lg" ng-click="changeTab(3)" href="">Revisar e criar</a>
        </li>
      </ul>
    </div>
    <div layout="column" flex="1">
      <div class="tab-content">
        <div ng-show="settingsState.tab === 0">
          <ng-include src="'views/contests/settings.data.html'"></ng-include>
        </div>
        <div ng-show="settingsState.tab === 1">
          <ng-include src="'views/contests/settings.problems.html'"></ng-include>
        </div>
        <div ng-show="settingsState.tab === 2">
          <ng-include src="'views/contests/settings.options.html'"></ng-include>
        </div>
        <div ng-show="settingsState.tab === 3">
          <ng-include src="'views/contests/settings.review.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</mrt-page-wrapper>
