<h2 class="page-title col-md-offset-4" style="margin-top: 50px;">Criar Competição</h2>
<div class="container-fluid" style="margin-bottom: 50px">
  <form name="createContestForm" novalidate>
    <div class="row">
      <div class="col-md-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Problemas&nbsp;<i class="fa fa-question-circle" tooltip-placement="right" tooltip="Exemplos: 'UVa 100', 'ZAK GALOU', 'A+B Problem'. Online Judges disponíveis: UVa, LiveArchive, Spoj, SpojBR e Timus."></i>
              </th>
            </tr>
          </thead>
          <tbody ui-sortable ng-model="problems">
            <tr class="contest-draggable-problem" ng-repeat="problem in problems">
              <td>
                <div class="balloon">
                  <img ng-src="/imgs/baloes/{{$index}}.png" class="balloon-image" />
                  <a ng-href="{{problem.url}}" target="_blank" class="balloon-label">{{alphabet[$index]}}</a>
                </div>
                {{problem.name}}
                <a class="link" ng-click="removeProblem(problem.id)" class="contest-remove-problem"><i class="fa fa-times"></i></a>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-form="fetchProblemsForm" style="display: block; margin-bottom: 70px;">
              <td>
                <div class="dropdown">
                  <input type="text" class="form-control dropdown-toggle" id="dropdownProblems2" data-toggle="dropdown" placeholder="Inserir Problema" ng-model="problemRegex" ng-change="fetch()">
                  <ul class="dropdown-menu contest-dropdown-problems" aria-labelledby="dropdownProblems2">
                    <li ng-repeat="p in fetchedProblems">
                      <a class="link" ng-click="addProblem(p)">{{p.name}}</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="create-contest-table">
          <tbody>
            <tr>
              <td>Nome:</td>
              <td colspan="2">
                <input type="text" class="form-control" ng-model="name" name="name" placeholder="Nome *" ng-maxlength="100" required>
              </td>
            </tr>
            <tr>
              <td>Início</td>
              <td class="calendar-area">
                <input name="startDate" class="calendar-text form-control" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="startDateTime" min-date="minDate" max-date="maxDate" is-open="opened" show-weeks="false" current-text="Hoje" clear-text="Limpar" close-text="Fechar" ng-required="true" readOnly />
                <button class="calendar-icon" ng-click="open()"><i class="fa fa-lg fa-calendar"></i></button>
              </td>
              <td><timepicker name="startTime" ng-model="startDateTime" minute-step="5" show-meridian="ismeridian" show-spinners="false" gt-date="{{startDateTime}}"></timepicker></td>
            </tr>
            <tr>
              <td>Duração</td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateEndDateTime()" class="duration-number form-control" ng-model="hours" name="hours" required>
                <span class="duration-text">horas</span>
              </td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateEndDateTime()" class="duration-number form-control" ng-model="minutes" name="minutes" required>
                <span class="duration-text">minutos</span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Frozen&nbsp;<span class="question-mark" data-toggle="tooltip" title="O Frozen congela o placar, de forma que você não pode ver o resultado das submissões de outros competidores. Se você define 1 hora de Frozen, por exemplo, significa que a última hora da competição será Frozen." tooltip><sup><i class="fa fa-question-circle"></i></sup></span></td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateFrozen()" on-click="updateFrozen()" class="duration-number form-control" ng-model="frozenHours" required>
                <span class="duration-text">horas</span>
              </td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateFrozen()" on-click="updateFrozen()" class="duration-number form-control" ng-model="frozenMinutes" required>
                <span class="duration-text">minutos</span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Blind&nbsp;<span class="question-mark" data-toggle="tooltip" title="O Blind congela o placar e o resultado de suas submissões. Se você define 15 minutos de Blind, por exemplo, significa que os últimos 15 minutos da competição serão Blind." tooltip><sup><i class="fa fa-question-circle"></i></sup></span></td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateBlind()" class="duration-number form-control" ng-model="blindHours" required>
                <span class="duration-text">horas</span>
              </td>
              <td class="duration-area">
                <input type="number" ng-keyup="updateBlind()" class="duration-number form-control" ng-model="blindMinutes" required>
                <span class="duration-text">minutos</span>
              </td>
              <td></td>
            </tr>
            <tr ng-hide="showDescrField">
              <td></td>
              <td colspan="2" ng-hide="showDescrField">
                <a class="link" class="create-contest-add-descr pull-right" ng-click="showDescrField = true"><i class="fa fa-plus"></i>&nbsp;opções</a>
              </td>
            </tr>
            <tr ng-show="showDescrField">
              <td colspan="1" class="col-md-1" style="padding: 0;">Acesso&nbsp;<span class="question-mark" data-toggle="tooltip" title="Diz respeito a forma de se registrar na competição. Público: não exige senha. Privado: exige senha." tooltip><sup><i class="fa fa-question-circle"></i></sup></span></td>
              <td colspan="4" class="col-md-4" style="padding: 0 10px 0 0;">
                <button popover-template="privatePopover.templateUrl" popover-title="{{privatePopover.title}}" popover-placement="right" class="btn btn-default btn-block btn-access popover-trigger-button" ng-click="toggleAccess($event)">{{access}}&nbsp;<i class="fa" ng-class="access == 'Privado' ? 'fa-lock' : 'fa-unlock'"></i></button>
              </td>
            </tr>
            <tr ng-show="showDescrField">
              <td colspan="1" class="col-md-1" style="padding: 0;">Competidor&nbsp;<span class="question-mark" data-toggle="tooltip" title="Diz respeito aos tipos de competidores que podem participar: apenas individual, apenas time ou ambos." tooltip><sup><i class="fa fa-question-circle"></i></sup></span></td>
              <td colspan="4" class="col-md-4" style="padding: 0 10px 0 0;">
                <select class="form-control" ng-model="contestantType">
                  <option value="1">Individual</option>
                  <option value="2">Time</option>
                  <option value="3">Individual ou Time</option>
                </select>
              </td>
            </tr>
            <tr ng-show="showDescrField">
              <td colspan="1" class="col-md-1" style="padding: 0;">Espectador&nbsp;<span class="question-mark" data-toggle="tooltip" title="Quem pode visualizar a competição (placar, participantes, problemas...). Geral: qualquer pessoa. Participantes: apenas os que estão registrados na competição." tooltip><sup><i class="fa fa-question-circle"></i></sup></span></td>
              <td colspan="4" class="col-md-4" style="padding: 0 10px 0 0;">
                <div class="btn-group btn-group-justified" style="border-spacing: 0px;">
                  <label class="btn btn-default" ng-model="watchPrivate" btn-radio="0">Geral&nbsp;<i class="fa fa-globe"></i></label>
                  <label class="btn btn-default" ng-model="watchPrivate" btn-radio="1">Participantes&nbsp;<i class="fa fa-user-secret"></i></label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="5"><button type="button" ng-click="create()" class="btn btn-default btn-block" ng-class="{'disabled': loadingCreate}" style="margin:15px 0 30px;">Criar</button></td>
            </tr>
          </tbody>
        </table>
        <script type="text/ng-template" id="private-contest-password.html">
          <div class="form-group" style="width: 150px;">
            <input style="margin-bottom: 6px;" type="password" ng-model="$parent.password" class="form-control" placeholder="Senha">
            <input type="password" ng-model="$parent.confirmPassword" class="form-control" placeholder="Confirme a senha">
          </div>
        </script>
      </div>
      <div class="col-md-2">
        <table class="create-contest-table">
          <thead>
            <tr>
              <th>Informações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-if="createContestForm.startDate.$error.required || createContestForm.startDate.$error.date">
                <span class="contest-date-text">Formato inválido de data.</span>
              </td>
              <td ng-if="!(createContestForm.startDate.$error.required || createContestForm.startDate.$error.date) && createContestForm.startTime.$error.gtDate">
                <span class="contest-date-text">A competição deve ocorrer no futuro.</span>
              </td>
              <td ng-if="!(createContestForm.startDate.$error.required || createContestForm.startDate.$error.date) && !createContestForm.startTime.$error.gtDate">
                <span class="contest-date-text">começa <span>{{startDateTime | date:'fullDate' }} às {{startDateTime | date:'shortTime' }}</span></span>
              </td>
            </tr>
            <tr ng-hide="createContestForm.startDate.$error.required || createContestForm.startDate.$error.date || createContestForm.startTime.$error.gtDate">
              <td ng-if="!validDuration">
                <span class="contest-date-text">A competição deve ter ao menos 10 minutos de duração.</span>
              </td>
              <td ng-if="validDuration">
                <span class="contest-date-text">termina <span>{{endDateTime | date:'fullDate' }} às {{endDateTime | date:'shortTime' }}</span>&nbsp;({{duration | formatDuration : true}} de duração)</span>
              </td>
            </tr>
            <tr ng-hide="createContestForm.startDate.$error.required || createContestForm.startDate.$error.date || createContestForm.startTime.$error.gtDate || !validDuration">
              <td ng-if="frozenDuration <= 0">
                <span class="contest-date-text">Não haverá modo Frozen.</span>
              </td>
              <td ng-if="frozenDuration > 0">
                <span class="contest-date-text">o Frozen iniciará <span>{{frozenDateTime | date:'fullDate' }} às {{frozenDateTime | date:'shortTime' }}</span></span>
              </td>
            </tr>
            <tr ng-hide="createContestForm.startDate.$error.required || createContestForm.startDate.$error.date || createContestForm.startTime.$error.gtDate || !validDuration">
              <td ng-if="blindDuration <= 0">
                <span class="contest-date-text">Não haverá modo Blind.</span>
              </td>
              <td ng-if="blindDuration > 0">
                <span class="contest-date-text">o Blind iniciará <span>{{blindDateTime | date:'fullDate' }} às {{blindDateTime | date:'shortTime' }}</span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
