<h2 class="page-title col-md-offset-4">Submissões da Competição</h2>
<div class="container-fluid">
  <form name="createContestForm" novalidate>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Participantes
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in participants">
              <td>
                {{p.id.local.username}}&nbsp;-&nbsp;
                {{p.id.local.name}}&nbsp;{{p.id.local.surname}}&nbsp;
                (<i>{{p.id.local.email}})</i>&nbsp;
                <a href="#" ng-click="fetchParticipantSubmissions(p.id._id)">
                  <i class="fa fa-eye contests-view-table-icon"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr class="submission-row submission-row-parent">
              <th>Tempo</th>
              <th>Questão</th>
              <th>Linguagem</th>
              <th>Status</th>
              <th colspan="5"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sub in submissions | orderBy: '-date'" class="submission-row" ng-class="'{{getSubmissionClass(sub.verdict)}}'">
              <td>{{sub.time}}</td>
              <td>
                <div ng-hide="sub.problem" style="padding-left: 13px;">-</div>
                <div class="balloon">
                  <img ng-src="/imgs/baloes/{{problems[sub.problem].num}}.png" class="balloon-image" />
                  <a ng-href="{{problems[sub.problem].url}}" target="_blank" class="balloon-label">{{problems[sub.problem].letter}}</a>
                </div>
              </td>
              <td>{{languages[sub.language]}}</td>
              <td>{{verdictName[sub.verdict]}}&nbsp;<i ng-if="getSubmissionClass(sub.verdict) == 'pending-submission'" class="fa fa-pulse fa-spinner"></i></td>
              <td colspan="5"><a ng-href="/submission/{{sub._id}}" target="_blank"><i class="fa fa-eye"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
