<mrt-breadcrumbs
  location="'Maratonando / Competições'"
  title="'Competições abertas'">
</mrt-breadcrumbs>

<!-- <ng-include src="'views/contests/contest-join-sidenav.html'"></ng-include> -->

<div style="padding-top: 30px;">
  <mrt-contest-list
    filter-type="now"
    sub-title="'Acontecendo agora'"
    empty-message="'Nenhuma competição acontencendo.'"
    admin-flag="true">
  </mrt-contest-list>
  <mrt-contest-list
    filter-type="future"
    sub-title="'Próximas'"
    empty-message="'Nenhuma competição futura.'"
    admin-flag="true">
  </mrt-contest-list>
</div>
