<h2 class="page-title col-md-offset-4">Competições Participadas</h2>
<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-3"><a href="#" ng-click="order('name')">Nome</a></th>
          <th class="col-md-2"><a href="#" ng-click="order('date_start')">Início</a></th>
          <th class="col-md-1"><a href="#" ng-click="order('duration')">Duração</a></th>
          <th class="col-md-1" style="text-align: center;">Tipo</th>
          <th class="col-md-1" style="text-align: center;">Acesso</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animation" ng-repeat="contest in contests | orderBy:predicate:reverse">
          <td>
            <a ng-if="contest.isAdmin || contest.isInContest" ng-href="contest/{{contest._id}}">{{contest.name}}</a>
            <span ng-if="contest.isAdmin" class="team-admin">&nbsp;(admin)</span>
          </td>
          <td>{{contest.date_start | amDateFormat:'ddd, D/MMM/YYYY, HH:mm'}}</td>
          <td>{{contest.duration | formatTime : false}}</td>
          <td class="contests-view-table-td">
            <i class="fa fa-user contests-view-table-icon" ng-if="contest.contestantType != '2'" data-toggle="tooltip" title="Perfis individuais podem participar." tooltip></i>
            <i class="fa fa-users contests-view-table-icon" ng-if="contest.contestantType != '1'" data-toggle="tooltip" title="Times podem participar." tooltip></i>
          </td>
          <td class="contests-view-table-td">
            <i class="fa fa-lock contests-view-table-icon" ng-if="contest.isPrivate" data-toggle="tooltip" title="Possui senha para se registrar." tooltip></i>
            <i class="fa fa-unlock contests-view-table-icon" ng-if="!contest.isPrivate" data-toggle="tooltip" title="Não possui senha para se registrar." tooltip></i>
            <i class="fa fa-user-secret contests-view-table-icon" ng-if="contest.watchPrivate" data-toggle="tooltip" title="Apenas quem está registrado pode entrar no link." tooltip></i>
            <i class="fa fa-globe contests-view-table-icon" ng-if="!contest.watchPrivate" data-toggle="tooltip" title="Qualquer um pode entrar no link." tooltip></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>