<div ng-controller="ContestSettingsDataController" class="contest-settings-container">
  <div layout="row">
    <div layout="column" flex="60" class="settings-data">
      <form name="form" novalidate>
        <div class="form-group">
          <input type="text" class="data-input" placeholder="Nome da competição" ng-model="contest.name" name="name" maxlength="50" required/>
          <small class="error" ng-show="form.name | mrtHasError">* a competição precisa ter um nome</small>
        </div>
        <div class="form-group" layout="row">
          <input
            show-button-bar="false"
            placeholder="Início da competição"
            class="data-input data-calendar-input"
            uib-datepicker-popup="EEE, d/MMM/yyyy"
            is-open="opened.start"
            datepicker-options="options"
            ng-model="contest.date_start"
            ng-change="validateTimeRange()"
            ng-click="openDatepicker('start')"
            readonly required/>
          <button type="button" class="btn btn-default calendar-input" ng-click="openDatepicker('start')"><i class="fa fa-calendar"></i></button>
          <uib-timepicker
            class="time-input"
            show-spinners="false"
            ng-model="contest.date_start"
            ng-change="debounceValidation()"
            hour-step="1"
            minute-step="5"
            show-meridian="false"
            required>
          </uib-timepicker>
        </div>
        <div class="form-group" layout="row">
          <input
            show-button-bar="false"
            placeholder="Fim da competição"
            class="data-input data-calendar-input"
            uib-datepicker-popup="EEE, d/MMM/yyyy"
            is-open="opened.end"
            datepicker-options="options"
            ng-model="contest.date_end"
            ng-click="openDatepicker('end')"
            ng-change="validateTimeRange()"
            readonly required/>
          <button type="button" class="btn btn-default calendar-input" ng-click="openDatepicker('end')"><i class="fa fa-calendar"></i></button>
          <uib-timepicker
            class="time-input"
            show-spinners="false"
            ng-model="contest.date_end"
            ng-change="debounceValidation()"
            hour-step="1"
            minute-step="5"
            show-meridian="false"
            required>
          </uib-timepicker>
        </div>
        <div ng-if="contest.date_start && contest.date_end" style="float: right; padding-bottom: 15px;">
          <small><b>Duração</b>: {{(contest.date_end - contest.date_start) / 60000 | formatDuration}}</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block data-button" ng-click="nextTab()" ng-disabled="form.$invalid">Escolher problemas &#8594;</button>
        </div>
      </form>
    </div>
    <div layout="column" layout-align="end start" style="padding: 20px;">
      <div><small>* As datas e horas utilizadas devem ser relativas ao horário da sua máquina:</small></div>
      <div><small ng-bind-html="timeState.server.dynamic | mrtFilterTime"></small></div>
    </div>
  </div>
</div>
