<div class="container-fluid" id="breadcrumbs">
  <div class="row">
    <div class="col-md-12">
      <span>Maratonando / Competições</span>
      <h2>{{ name }}</h2>
    </div>
  </div>
</div>

<div id="contest-view-container">

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3" id="contest-view-time">
      <h4 ng-show="!loadingData && timeLeft > 0">Tempo: {{progressBarValue | formatTime}}</h4>
      <h4 ng-show="!loadingData && timeLeft <= 0">Tempo: {{timeline.moment | formatDuration}}</h4>
    </div>

    <div class="col-sm-6" id="contest-view-status">
      <h3 ng-show="!loadingData && timeLeft <= 0">Finalizado</h3>
      <h3 ng-show="!loadingData && timeLeft > 0">Acontecendo</h3>
    </div>

    <div class="col-sm-3" id="contest-view-upsolving">
      <h4 ng-if="timeLeft > 0 && !loadingData && progressBarValue >= 0">restam {{timeLeft | formatTime}}</h4>
      <p ng-if="timeLeft <= 0 && !loadingData && progressBarValue >= 0"><input type="checkbox" ng-click="toggleUpsolving()">mostrar upsolving<span class="question-mark" data-toggle="tooltip" title="Upsolving é uma forma de você poder submeter questões após a competição ter terminado. Porém, não conta para o placar principal." tooltip><i class="fa fa-question-circle"></i></span>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-show="!loadingData && timeLeft <= 0" id="blue" ui-slider="timeline.options" ng-model="timeline.moment"></div>
      <progressbar ng-hide="loadingData || timeLeft <= 0" style="margin-top: 20px;" ng-hide="loadingData" ng-class="{'active': (timeLeft > 0)}" class="progress-striped" value="progressBarValue" max="totalDuration" type="{{barType}}"></progressbar>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <tabset id="contest-view-tabs">
        <tab heading="Placar">
          <div ng-show="loadingData">
            <i style="" class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
          <table ng-hide="loadingData" class="table">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Nome</th>
                <th ng-repeat="problem in problemsArray">
                  <div class="balloon balloon-contest">
                    <img ng-src="/imgs/baloes/{{$index}}.png" class="balloon-image" />
                    <span ng-if="progressBarValue < 0" class="balloon-label">{{alphabet[$index]}}</span>
                    <a ng-if="progressBarValue >= 0" ng-href="{{problem.url}}" target="_blank" class="balloon-label">{{alphabet[$index]}}</a>
                  </div>
                </th>
                <th>Tempo</th>
                <th>Questões</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="o in ord">
                <td>{{$index+1}}</td>
                <td>{{contestants[o[2]].name}}</td>
                <td ng-repeat="problem in problemsArray" class="scoreboard-submission">
                  <span ng-class="'{{getScoreClass(problem._id, o[2])}}'">{{getPenalty(problem._id, o[2])}}</span>
                </td>
                <td>{{o[1]}}</td>
                <td>{{o[0]}}</td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab ng-if="inContest" heading="Submeter" disable="progressBarValue < 0">
          <div ng-if="timeLeft === 0" class="alert alert-info alert-dismissible" role="alert" style="margin-top:10px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>A competição acabou!</strong> Qualquer submissão feita a partir de agora contará como upsolving - competição que continua rolando após o término da competição principal, mas não conta no placar oficial.
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-centered">
              <form name="submitProblemForm">
                <span>Código</span>
                <textarea type="text" style="height: 500px; margin: 10px 0 80px; resize: vertical;" class="form-control" ng-model="submission.code" name="code" ></textarea>
              </form>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
              <table class="create-contest-table">
                <tbody>
                  <tr>
                    <td colspan="1" class="col-md-1" style="padding: 0;">Problema</td>
                    <td colspan="2" class="col-md-2" style="padding: 0 10px 0 0;">
                      <select class="form-control" ng-model="submission.problem">
                        <option ng-value="0">(rascunho)</option>
                        <option ng-repeat="problem in problemsArray" ng-value="problem._id">{{problem | problemSubmitName : $index}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="col-md-1" style="padding: 0;">Linguagem</td>
                    <td colspan="2" class="col-md-2" style="padding: 0 10px 0 0;">
                      <select class="form-control" ng-model="submission.language">
                        <option ng-repeat="(id,name) in languages" ng-value="id">{{name}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"><button type="button" ng-click="submit()" class="btn btn-default btn-block" ng-class="{'disabled': submittingProblem}" style="margin-top:15px;">Submeter&nbsp;<i class="fa fa-paper-plane-o"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab ng-if="inContest" heading="Submissões" disable="progressBarValue < 0">
          <div ng-show="loadingData">
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
          <div ng-hide="loadingData" class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr class="submission-row submission-row-parent">
                    <th>Tempo</th>
                    <th>Questão</th>
                    <th>Linguagem</th>
                    <th>Status</th>
                    <th colspan="5"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sub in submissions | orderBy: '-date'" class="submission-row" ng-class="'{{getSubmissionClass(sub.verdict)}}'">
                    <td>{{sub.time}}</td>
                    <td>
                      <div ng-hide="sub.problem" style="padding-left: 13px;">-</div>
                      <div class="balloon">
                        <img ng-src="/imgs/baloes/{{problems[sub.problem].num}}.png" class="balloon-image" />
                        <a ng-href="{{problems[sub.problem].url}}" target="_blank" class="balloon-label">{{problems[sub.problem].letter}}</a>
                      </div>
                    </td>
                    <td>{{languages[sub.language]}}</td>
                    <td>{{verdictName[sub.verdict]}}&nbsp;<i ng-if="getSubmissionClass(sub.verdict) == 'pending-submission'" class="fa fa-pulse fa-spinner"></i></td>
                    <td colspan="5"><a ng-href="/submission/{{sub._id}}"><i class="fa fa-eye"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab ng-if="inContest" heading="Catálogo" disable="progressBarValue < 0">
          <div ng-show="loadingData">
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
          <div ng-hide="loadingData" class="row">
            <div class="col-md-12" style="margin-bottom: 80px;">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-md-1">Questão</th>
                    <th class="col-md-3">Dificuldade</th>
                    <th class="col-md-5">Assunto</th>
                    <th class="col-md-3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in problems">
                    <td>
                      <div class="balloon">
                        <img ng-src="/imgs/baloes/{{$index}}.png" class="balloon-image" />
                        <a ng-href="{{p.url}}" target="_blank" class="balloon-label">{{p.letter}}</a>
                      </div>
                    </td>
                    <td><rating class="rating" ng-class="{'rating-unchanged': !p.rate && !p.hovering}" ng-model="p.rate" max="5" ng-change="selectRate(p)" on-hover="p.hovering = true" on-leave="p.hovering=false" rating-states="ratingStates"></rating></td>
                    <td>
                      <span class="problem-tag" ng-repeat="tag in p.tags">{{tag.name}}&nbsp;<a href="#" ng-click="removeTag(tag,p)"><i class="fa fa-times contest-remove-problem"></i></a></span>
                    </td>
                    <td><input type="text" ng-keyup="insertTag($event,p)" ng-model="p.tagSelected" typeahead="tag as tag.name for tag in allTags | filter:{name:$viewValue} | filter:notInsertedTags(p) | limitTo:10" ng-change="fixTagInput(p)" typeahead-on-select="onSelectTag($item, $model, $label, p)" class="form-control" placeholder="Adicionar assunto..."></input></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

</div>

</div>