<div
  ng-controller="ContestSettingsDataController"
  class="contest-settings-container"
>
  <div ng-hide="validateForm()">
    <small class="error"
      >There are pending corrections. Please, navigate to the tabs Data,
      Problems and Options to see what's missing.</small
    >
  </div>
  <div ng-show="validateForm()">
    <md-subheader>Data</md-subheader>
    <div layout="column">
      <div layout="row">
        <div flex="10"><b>Name</b></div>
        <div flex><p>{{contest.name}}</p></div>
      </div>
      <div layout="row">
        <div flex="10"><b>Start</b></div>
        <div flex>
          <p ng-bind-html="contest.date_start | mrtFilterTime"></p>
        </div>
      </div>
      <div layout="row">
        <div flex="10"><b>End</b></div>
        <div flex><p ng-bind-html="contest.date_end | mrtFilterTime"></p></div>
      </div>
      <div layout="row">
        <div flex="10"><b>Duration</b></div>
        <div flex>
          <p>
            {{(contest.date_end - contest.date_start) / 60000 | formatDuration}}
          </p>
        </div>
      </div>
    </div>
    <md-subheader>Problems</md-subheader>
    <div layout="row" ng-repeat="problem in contest.problems">
      <div flex>
        <p>
          <b>({{$index | mrtAlphabetize}})</b>
          <a
            ui-sref="problems.view({id:problem._id,index:$index})"
            target="_blank"
            >{{problem.fullName}}</a
          >
        </p>
      </div>
    </div>
    <md-subheader>Information</md-subheader>
    <div layout="column">
      <div>Allowed language: {{contest.languages | mrtParseLanguages}}</div>
      <div
        ng-if="contest.hasFrozen || contest.hasBlind"
        style="padding-bottom: 20px"
      >
        <div ng-show="contest.hasFrozen">
          <b>Frozen</b> mode will start
          <span ng-bind-html="contest.frozen_time | mrtFilterTime"></span>,
          {{(contest.date_end - contest.frozen_time) / 60000 | formatDuration}}
          before the end of the contest.
        </div>
        <div ng-show="contest.hasBlind">
          <b>Blind</b> mode will start
          <span ng-bind-html="contest.blind_time | mrtFilterTime"></span>,
          {{(contest.date_end - contest.blind_time) / 60000 | formatDuration}}
          before the end of the contest.
        </div>
      </div>
      <div>
        <span ng-show="contest.isPrivate"
          ><i class="fa fa-lock" style="display: inline"></i>&nbsp;The contest
          <b>has password</b> to join.</span
        >
        <span ng-hide="contest.isPrivate"
          ><i class="fa fa-unlock" style="display: inline"></i>&nbsp;The contest
          <b>has no password</b> to join.</span
        >
      </div>
      <div>
        <span ng-show="contest.watchPrivate"
          ><i class="fa fa-user-secret" style="display: inline"></i>&nbsp;Only
          <b>competitors can see</b> the contest.</span
        >
        <span ng-hide="contest.watchPrivate"
          ><i class="fa fa-globe" style="display: inline"></i>&nbsp;The contest
          is <b>open for anyone to see</b>.</span
        >
      </div>
      <div>
        <span ng-show="contest.allowIndividual && !contest.allowTeam">
          <i class="fa fa-user" style="display: inline"></i>&nbsp;Users can join
          this contest only <b>individually</b>.
        </span>
        <span ng-show="!contest.allowIndividual && contest.allowTeam">
          <i class="fa fa-users" style="display: inline"></i>&nbsp;Users can
          join this contest only <b>in teams</b>.
        </span>
        <span ng-show="contest.allowIndividual && contest.allowTeam">
          <i class="fa fa-user" style="display: inline"></i
          ><i class="fa fa-users" style="display: inline"></i>&nbsp;Users can
          join this contest <b>individually</b> or <b>in teams</b>.
        </span>
      </div>
    </div>
    <div flex="50">
      <div
        vc-recaptcha
        ng-model="contest.recaptcha"
        style="margin: 0 auto; padding: 20px 0 20px 0; width: 304px"
      ></div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-block data-button"
          ng-click="createOrEdit()"
          ng-disabled="!contest.recaptcha"
        >
          <span ng-if="isEdit">Edit contest</span>
          <span ng-if="!isEdit">Create contest</span>
        </button>
      </div>
    </div>
  </div>
</div>
