<div ng-controller="ContestSettingsProblemsController" class="contest-settings-container">
  <div layout="row" layout-align="space-around center">
    <div flex="60">
      <form name="form" novalidate>
        <md-autocomplete
          placeholder="Buscar"
          md-input-name="autocomplete"
          md-search-text="searchText"
          md-selected-item="selectedProblem"
          md-selected-item-change="select()"
          md-items="problem in getProblems()"
          md-item-text="problem.name"
          md-min-length="3"
          md-no-cache
          ng-disabled="contest.problems.length >= 26">
          <md-item-template>
            <span>{{problem.fullName}}</span>
          </md-item-template>
          <md-not-found>
            Nenhum problema encontrado.
          </md-not-found>
        </md-autocomplete>
        <md-subheader class="md-no-sticky" style="margin-top: 5px;">Problemas&nbsp;
          <i class="fa fa-question">
            <md-tooltip md-direction="top">
              <p>Atualmente o Codepit suporta problemas dos seguintes juízes:<br />
                - Codeforces (www.codeforces.com)<br />
                - CodeChef (www.codechef.com)<br />
                - Huxley (www.thehuxley.com)<br />
                - Kattis (open.kattis.com)<br />
                - LiveArchive (icpcarchive.ecs.baylor.edu)<br />
                - Spoj (www.spoj.com)<br />
                - SpojBR (br.spoj.com)<br />
                - Timus (acm.timus.ru)<br />
                - URI (www.urionlinejudge.com.br)<br />
                - UVa (uva.onlinejudge.org)
              </p>
            </md-tooltip>
          </i>
        </md-subheader>
        <md-list ui-sortable="sortableOptions" ng-model="contest.problems">
          <md-list-item class="md-3-line" ng-repeat="problem in contest.problems">
            <div class="md-list-item-text move-handle" layout="column" flex="5">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="balloon-ps">
              <img ng-src="/imgs/baloes/{{$index}}.png" class="md-avatar" />
              <a ui-sref="problems.view({id:problem._id,index:$index})" target="_blank" class="balloon-ps-label md-avatar">{{$index | mrtAlphabetize}}</a>
            </div>
            <div class="md-list-item-text" layout="column" flex layout-align="center start">
              <h3 style="white-space: normal; text-align: left;">{{ problem.name }}</h3>
              <h4>{{ problem.oj | mrtOjName }} {{ problem.id }}</h4>
            </div>
            <div class="md-list-item-text" layout="column" flex="15">
              <p ng-if="problem.timelimit !== 'undefined'">{{ problem.timelimit }}s</p>
              <p ng-if="problem.memorylimit !== 'undefined'">{{ problem.memorylimit }}</p>
            </div>
            <div class="md-list-item-text remove-problem" layout="column" flex="5">
              <i class="fa fa-times" aria-hidden="true" ng-click="removeProblem(problem._id)"></i>
            </div>
          </md-list-item>
        </md-list>
        <small ng-if="!contest.problems.length" class="informative error">* Você deve inserir ao menos um problema.</small>
        <small ng-if="noLanguagesAvailable()" class="informative error">* A competição deve suportar ao menos uma linguagem.</small>
        <div class="form-group">
          <button type="submit" class="btn btn-block data-button" ng-click="nextTab()" ng-disabled="noLanguagesAvailable() || contest.problems.length === 0">
            Opções &#8594;
          </button>
        </div>
      </form>
    </div>
    <div flex="20">
      <md-subheader class="md-no-sticky" style="margin-top: 5px;">Linguagens&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>As linguagens permitidas durante a competição.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div ng-repeat="(key,lang) in Languages">
        <md-checkbox ng-checked="checkLang(key,1)" ng-disabled="checkLang(key,-1)" ng-click="toggleLang(key)">
          {{ lang }}
        </md-checkbox>
      </div>
      <small ng-if="totalForbid > 0" class="informative">* Um ou mais problemas inseridos não suportam certas linguagens e estas foram, portanto, desabilitadas.</small>
    </div>
  </div>
</div>
