<div ng-controller="ContestSettingsDataController" class="contest-settings-container">
  <div layout="column" flex="60">
    <form name="form" novalidate>
      <md-subheader>Frozen&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p><b>Frozen</b> defines the moment of the contest that the scoreaboard<br>freezes, and the competitor only has access to the results of his<br>own submissions. In classic ACM ICPC contests, frozen starts at<br>the last hour of the contest.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div class="settings-options" layout="row" layout-align="center center" flex="45">
          <div><span>no</span></div>
          <div>
            <md-switch class="md-primary" ng-model="contest.hasFrozen" ng-disabled="!contest.date_start || !contest.date_end" ng-change="validateTimeRange()"></md-switch>
          </div>
          <div><span>yes</span></div>
        </div>
        <div layout="column" ng-if="contest.hasFrozen">
          <div class="form-group" layout="row">
            <input
              show-button-bar="false"
              placeholder="Início do frozen"
              class="data-input data-calendar-input"
              uib-datepicker-popup="EEE, d/MMM/yyyy"
              is-open="opened.frozen"
              datepicker-options="options"
              ng-model="contest.frozen_time"
              ng-change="validateTimeRange()"
              ng-click="openDatepicker('frozen')"
              readonly/>
            <button type="button" class="btn btn-default calendar-input" ng-click="openDatepicker('frozen')"><i class="fa fa-calendar"></i></button>
            <uib-timepicker
              class="time-input"
              show-spinners="false"
              ng-model="contest.frozen_time"
              ng-change="debounceValidation()"
              hour-step="1"
              minute-step="5"
              show-meridian="false"
              required>
            </uib-timepicker>
          </div>
          <div>
            <small><b>Frozen duration</b>: {{(contest.date_end - contest.frozen_time) / 60000 | formatDuration}}</small>
          </div>
        </div>
      </div>
      <small class="error" ng-show="!contest.date_start || !contest.date_end">* you must configure the start and end dates of the contest in order to set this option</small>
      <md-divider></md-divider>


      <md-subheader>Blind&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>The <b>blind</b> defines the moment of the contest where everything<br>freezes, and the competitor doesn't have access to any result,<br>even his own. In classic ACM ICPC contests, blind starts at the<br>last 15 minutes of the contest.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div class="settings-options" layout="row" layout-align="center center" flex="45">
          <div><span>no</span></div>
          <div>
            <md-switch class="md-primary" ng-model="contest.hasBlind" ng-disabled="!contest.date_start || !contest.date_end" ng-change="validateTimeRange()"></md-switch>
          </div>
          <div><span>yes</span></div>
        </div>
        <div layout="column" ng-if="contest.hasBlind">
          <div class="form-group" layout="row">
            <input
              show-button-bar="false"
              placeholder="Início do blind"
              class="data-input data-calendar-input"
              uib-datepicker-popup="EEE, d/MMM/yyyy"
              is-open="opened.blind"
              datepicker-options="options"
              ng-model="contest.blind_time"
              ng-change="validateTimeRange()"
              ng-click="openDatepicker('blind')"
              readonly/>
            <button type="button" class="btn btn-default calendar-input" ng-click="openDatepicker('blind')"><i class="fa fa-calendar"></i></button>
            <uib-timepicker
              class="time-input"
              show-spinners="false"
              ng-model="contest.blind_time"
              ng-change="debounceValidation()"
              hour-step="1"
              minute-step="5"
              show-meridian="false"
              required>
            </uib-timepicker>
          </div>
          <div>
            <small><b>Blind duration</b>: {{(contest.date_end - contest.blind_time) / 60000 | formatDuration}}</small>
          </div>
        </div>
      </div>
      <small class="error" ng-show="!contest.date_start || !contest.date_end">* you must configure the start and end dates of the contest in order to set this option</small>
      <md-divider></md-divider>


      <md-subheader>Password&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>Password to join your contest.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div class="settings-options" layout="row" layout-align="center center" flex="45">
          <div><span><i class="fa fa-unlock" style="display: inline;"></i>&nbsp;Public</span></div>
          <div>
            <md-switch class="md-primary" ng-model="contest.isPrivate"></md-switch>
          </div>
          <div><span><i class="fa fa-lock" style="display: inline;"></i>&nbsp;Private</span></div>
        </div>
        <div class="form-group" style="padding-right: 8px;" ng-if="contest.isPrivate" flex>
          <input type="password" name="password" ng-model="contest.password" class="data-input" placeholder="Password" ng-maxlength="100" required></input>
          <small class="error" ng-show="form.password | mrtHasError">* the password must have from 1 to 100 characters</small>
        </div>
      </div>
      <md-divider></md-divider>

      <md-subheader>Access&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>Open access allows everyone to access the problems<br>and the scoreboard of the contest, while closed only<br>allows competitors to see it.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div class="settings-options" layout="row" layout-align="center center" flex="45">
          <div><span><i class="fa fa-globe" style="display: inline;"></i>&nbsp;Open</span></div>
          <div>
            <md-switch class="md-primary" ng-model="contest.watchPrivate"></md-switch>
          </div>
          <div><span><i class="fa fa-user-secret" style="display: inline;"></i>&nbsp;Closed</span></div>
        </div>
        <div flex></div>
      </div>
      <md-divider></md-divider>

      <md-subheader>Competitor Type&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>Which competitor type(s) can join the contest:<br>only teams, only individuals or both.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div class="settings-options checkbox" layout="column" flex="45">
          <md-checkbox class="md-primary" ng-model="contest.allowIndividual" aria-label="Individual">
            <span><i class="fa fa-user" style="display: inline;"></i>&nbsp;Individual</span>
          </md-checkbox>
          <md-checkbox class="md-primary" ng-model="contest.allowTeam" aria-label="Individual">
            <span><i class="fa fa-users" style="display: inline;"></i>&nbsp;Teams</span>
          </md-checkbox>
          <small class="error" ng-show="!contest.allowIndividual && !contest.allowTeam">* you must choose at least one of the above options</small>
        </div>
        <div flex></div>
      </div>
      <!-- <md-divider></md-divider>


      <md-subheader>Penalidade&nbsp;
        <i class="fa fa-question">
          <md-tooltip md-direction="top">
            <p>Quantos minutos de penalidade para cada erro de um<br>dado problema. Esses minutos só são contabilizados<br>quando o problema é aceito.</p>
          </md-tooltip>
        </i>
      </md-subheader>
      <div layout="row">
        <div layout="row" layout-align="center center" flex="40">
          <input type="number" ng-model="contest.penalty" name="penalty" class="data-input" style="max-width: 100px; text-align: right;" min="0" max="10000" required></input>
          <small style="margin-left: 8px;"><span>minutos</span></small>
        </div>
        <div flex></div>
      </div>
      <small class="error" ng-show="form.penalty | mrtHasError">* a penalidade deve ser entre 0 e 10000 minutos</small> -->

    </form>
    <div class="form-group" style="margin-top: 15px;">
      <button type="submit" class="btn btn-block data-button" ng-click="nextTab()" ng-disabled="form.$invalid || (!contest.allowIndividual && !contest.allowTeam)">
        <span ng-if="isEdit">Review and edit</span>
        <span ng-if="!isEdit">Review and create</span>
        &nbsp;&#8594;
      </button>
    </div>
  </div>
</div>
