<section id="new-user-action">
  <div class="container" ng-hide="$root.user.isAuthenticated()">
    <div class="row">
      <div id="action-info" class="col-sm-7">
        <img src="imgs/action_logo.png" />
        <h2>Crie e participe de <strong>competições de programação</strong> individuais ou em time.</h2>
        <a class="link">Saiba mais</a>
      </div>
      <div class="col-sm-5 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Crie sua conta</h3>
              <p>Preencha os campos abaixo para entrar no Codepit</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="" method="post">
              <table class="profile-table">
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control" type="text" ng-model="user.name" name="name" placeholder="Nome" ng-maxlength="100">
                    </td>
                    <td>
                      <input class="form-control" ng-model="user.surname" name="surname" placeholder="Sobrenome" ng-maxlength="100" type="text">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><input type="email" class="form-control" ng-model="user.email" name="email" placeholder="Email *" required></td>
                  </tr>
                  <tr>
                    <td colspan="2"><input id="usernameInput" type="text" data-toggle="tooltip" title="Este nome aparecerá no placar das competições, quando você competir individualmente." class="form-control" ng-model="user.username" name="username" placeholder="Nome de perfil *" ng-maxlength="30" tooltip required></td>
                  </tr>
                  <tr>
                    <td><input type="password" class="form-control" ng-model="user.password" placeholder="Senha *" data-toggle="tooltip" name="pass" ng-maxlength="50" tooltip required></td>
                    <td><input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Repita senha *" name="confirmPass" match-field="{{user.password}}" ng-maxlength="50"></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <button type="button" ng-click="register()" class="btn btn-default btn-block" ng-disabled="registerProfileForm.$invalid">Registrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
