<div class="edit-dialog-container">
  <h2 class="md-title">Edit team</h2>
  <form name="form" novalidate>
    <div class="form-group">
      <input
        type="text"
        placeholder="Team name"
        ng-model="team.name"
        name="name"
        maxlength="50"
        required
      />
    </div>
    <div class="form-group">
      <textarea
        placeholder="Team motto"
        ng-model="team.description"
        name="description"
        maxlength="200"
      ></textarea>
    </div>
    <br style="clear: both" />
    <md-button ng-click="edit()" class="md-primary" ng-disabled="form.$invalid"
      >Edit</md-button
    >
    <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
  </form>
</div>
