<mrt-breadcrumbs
  location="'Codepit / Times'"
  title="team.name">
</mrt-breadcrumbs>

<mrt-page-wrapper wait-while='loading' class="team-container">
  <md-menu ng-if="inTeam">
    <md-button class="md-icon-button md-raised team-menu-icon" ng-click="openMenu($mdOpenMenu, $event)">
      <md-icon class="material-icons" style="color: #888;">menu</md-icon>
    </md-button>
    <md-menu-content width="3">
      <md-menu-item>
        <md-button ng-click="edit($event)">
          <md-icon class="material-icons">mode_edit</md-icon>
          Editar...
        </md-button>
      </md-menu-item>
      <md-menu-divider ng-if="team.members.length+team.invites.length<5"></md-menu-divider>
      <md-menu-item ng-if="team.members.length+team.invites.length<5">
        <md-button ng-click="invite($event)">
          <md-icon class="material-icons">person_add</md-icon>
          Convidar...
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <div layout="column" layout-align="center center">
    <span ng-if="team.description" style="color: #888; font-style: italic; width: 400px; word-wrap: break-word;">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      {{team.description}}
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </span>
    <h2 class="md-title">Membros do time</h2>
    <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
      <div ng-repeat="user in team.members">
        <md-card ng-class="{'logged-user-card': isUser(user._id)}">
          <span style="position: absolute;" ng-if="inTeam">
            <a class="user-remove link" mrt-confirm-click="remove(user._id)" mrt-confirm-click-descr="Clicar em 'Sim' irá retirar {{user.local.username}} deste time.">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </span>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media" layout layout-align="center center" >
                <div class="profile-image-container">
                  <img class="profile-image" ng-src="//www.gravatar.com/avatar/{{user.local.emailHash}}?d=identicon&s=150" style='width:100%;'>
                </div>
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline"><a class="unrated-handle" ui-sref="profile({id:user._id})">{{user.local.username}}</a></span>
              <span class="md-subhead description">{{user.local.fullName}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
    </div>
    <h2 ng-if="team.invites.length > 0" class="md-title">Convidados pendentes</h2>
    <div ng-if="team.invites.length > 0" layout="row" layout-xs="column" layout-align="center center" layout-wrap>
      <div ng-repeat="user in team.invites">
        <md-card ng-class="{'logged-user-card': isUser(user._id)}">
          <span style="position: absolute;" ng-if="inTeam">
            <a class="user-remove link" mrt-confirm-click="remove(user._id)" mrt-confirm-click-descr="Clicar em 'Sim' irá retirar o convite de {{user.local.username}}.">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </span>
          <span style="position: absolute;" ng-if="isUser(user._id)">
            <a class="user-join link" ng-click="accept(user)">
              <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
            <a class="user-remove link" ng-click="decline(user)">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </span>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media" layout layout-align="center center" >
                <div class="profile-image-container">
                  <img class="profile-image" ng-src="//www.gravatar.com/avatar/{{user.local.emailHash}}?d=identicon&s=150" style='width:100%;'>
                </div>
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline"><a class="unrated-handle" ui-sref="profile({id:user._id})">{{user.local.username}}</a></span>
              <span class="md-subhead description">{{user.local.fullName}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
    </div>
  </div>
</mrt-page-wrapper>
