<div id="user-nav" class="nav navbar-nav navbar-right">
  <div ng-show="!loading">
    <div ng-hide="$root.user.isAuthenticated()">
      <form>
        <md-input-container class="form-group md-default-theme" flex>
          <label class="control-label">Email</label>
          <input class="user-email" type="email" name="email" ng-model="data.email" class="form-control md-default-theme"/>
        </md-input-container>

        <md-input-container class="form-group md-default-theme" flex>
          <label class="control-label">Senha</label>
          <input class="user-password" type="password" ng-model="data.password" class="form-control md-default-theme"/>
          <div style="position: absolute; left: 3px; bottom: -14px; color: #aaa; font-size: 10px; ">
            <span class="link" ng-click="openForgotPasswordDialog($event)">Esqueceu a senha?</span>
          </div>
        </md-input-container>


        <div class="form-group">
          <button class="user-submit" type="submit" ng-click="login()" class="btn btn-default">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </form>

      <a class="btn btn-icon user-register" ui-sref="register">
        <span>
          <i class="fa fa-user"></i>
        </span>
        Registre-se
      </a>
    </div>
    <div ng-show="$root.user.isAuthenticated()">
      <a class="btn btn-icon user-logout" ng-click="logout()">
        <span>
          <i class="fa fa-user"></i>
        </span>
        Sair
      </a>
      <a class="profile-link" ui-sref="profile({id:$root.user.getId()})">
        <img ng-src="//www.gravatar.com/avatar/{{$root.user.getEmailHash()}}?d=identicon&s=50">
        Perfil
      </a>
    </div>
  </div>
  <div ng-show="loading" layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
  </div>
</div>
