<mrt-breadcrumbs
  location="'Codepit / Usuários'"
  title="'Seu perfil'">
</mrt-breadcrumbs>

<mrt-page-wrapper wait-for='!loadingData'>
  <div ng-cloak id="profile-container">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ui-sref=".data" label="dados" md-active="state.current.name === 'profile.data'"></md-tab>
        <md-tab ui-sref=".teams" label="times" md-active="state.current.name === 'profile.teams'"></md-tab>
        <md-tab ui-sref=".posts" label="posts" md-active="state.current.name === 'profile.posts'"></md-tab>
      </md-tabs>
      <ui-view/>
    </md-content>
  </div>
</mrt-page-wrapper>
