<md-content layout-padding layout="row" layout-xs="column">
  <div
    flex-gt-xs="30"
    flex-xs="grow"
    layout="column"
    layout-align="start center"
  >
    <div class="profile-image-container">
      <a href="//br.gravatar.com/" target="_blank"
        ><img
          class="profile-image"
          ng-src="//www.gravatar.com/avatar/{{UserState.user.local.emailHash}}?d=identicon&s=250"
          style="width: 100%"
      /></a>
    </div>
    <div class="unrated-handle">{{UserState.user.local.username}}</div>
    <div class="unrated-label">unrated</div>
  </div>
  <div flex-gt-xs="60" flex-xs="grow" id="form-container">
    <form name="form" novalidate>
      <div class="form-group input-split">
        <input
          type="text"
          placeholder="Nome"
          ng-model="UserState.user.local.name"
          name="name"
          maxlength="100"
          required
        />
        <input
          type="text"
          placeholder="Sobrenome"
          ng-model="UserState.user.local.surname"
          name="surname"
          maxlength="100"
          required
        />
        <br style="clear: both" />
        <small class="error" ng-show="form.name | mrtHasError"
          >* you must enter a name</small
        >
        <small class="error" ng-show="form.surname | mrtHasError"
          >* you must enter a surname</small
        >
      </div>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          ng-model="UserState.user.local.email"
          name="email"
          disabled
        />
      </div>
      <br style="clear: both" />
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-block"
          ng-click="register()"
          class="btn btn-default btn-block"
          ng-disabled="form.$invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div flex="20"></div>
</md-content>
