<md-dialog aria-label="New Post">
  <form>
    <md-toolbar class="md-accent">
      <md-input-container class="md-toolbar-tools">
        <label>Title</label>
        <input ng-model="post.title" />
      </md-input-container>
    </md-toolbar>
    <md-dialog-content style="padding: 20px">
      <text-angular ng-model="post.body"></text-angular>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-if="!create" class="md-raised md-warn"> Delete </md-button>
      <span flex></span>
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button
        ng-click="submit()"
        style="margin-right: 20px"
        class="md-raised md-accent"
      >
        <span ng-if="create">Post</span>
        <span ng-if="!create">Send</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
