<mrt-breadcrumbs
  location="'Codepit / Usuários'"
  title="usernameTitle">
</mrt-breadcrumbs>

<mrt-page-wrapper wait-for='!loadingData'>
  <div ng-cloak id="profile-container">
    <div ng-if="id === UserState.getId() && UserState.isNotVerified()">
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sua conta ainda não foi verificada</strong>, o que limita suas ações no Codepit. Caso não tenha recebido o e-mail de verificação, <a href="" ng-click="sendValidationEmail()">clique aqui</a> para enviarmos novamente.
      </div>
    </div>
    <md-content ng-if="id === $root.user.getId()">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ui-sref="." label="perfil" md-active="state.current.name === 'profile'"></md-tab>
        <md-tab ui-sref=".teams" label="times" md-active="state.current.name === 'profile.teams'"></md-tab>
        <md-tab ng-if="$root.user.isAdmin()" ui-sref=".posts" label="posts" md-active="state.current.name === 'profile.posts'"></md-tab>
      </md-tabs>
      <ui-view>
        <ng-include src="'views/user/profile.data.html'"></ng-include>
      </ui-view>
    </md-content>
    <div ng-if="id !== $root.user.getId()">
      <ng-include src="'views/user/profile.user.html'"></ng-include>
    </div>
  </div>
</mrt-page-wrapper>
