<div layout="row" layout-align="start center">
  <div flex-gt-xs="30" flex-xs="grow" layout="column" layout-align="start center">
    <div class="profile-image-container">
      <a href="//br.gravatar.com/" target="_blank"><img class="profile-image" ng-src="//www.gravatar.com/avatar/{{user.emailHash}}?d=identicon&s=200" style='width:100%;'></a>
    </div>
    <div class="unrated-handle">{{user.username}}</div>
    <div class="unrated-label">unrated</div>
  </div>
  <div><b>Nome</b>: {{user.fullName}}</div>
</div>
<mrt-blog-posts user="id"></mrt-blog-posts>