<mrt-breadcrumbs
  location="'Codepit / Home'"
  title="'Registre-se'">
</mrt-breadcrumbs>

<mrt-page-wrapper wait-while="loading">
  <div class="row" id="register-container">
    <div class="col-md-6 col-md-offset-3">
      <h3>Registre-se no <strong>Codepit</strong> e comece a criar e competir em competições de programação. </h3>
      <form name="form" novalidate>
        <div class="form-group input-split">
          <input type="text" placeholder="Nome"  ng-model="user.name" name="name" maxlength="100" required/>
          <input type="text" placeholder="Sobrenome" ng-model="user.surname" name="surname" maxlength="100" required/>
          <br style="clear: both" />
          <small class="error" ng-show="form.name | mrtHasError">* você deve inserir um nome</small>
          <small class="error" ng-show="form.surname | mrtHasError">* você deve inserir um sobrenome</small>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Nome de usuário" ng-model="user.username" name="username" maxlength="30" mrt-unique-username required uib-tooltip="Este nome será seu handle oficial nas competições e não poderá ser modificado."/>
          <small class="error" ng-show="form.username | mrtHasError">* nome de usuário inválido ou já cadastrado</small>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" ng-model="user.email" name="email" mrt-unique-email maxlength="100" required/>
          <small class="error" ng-show="form.email | mrtHasError">* e-mail inválido ou já cadastrado</small>
        </div>
        <div class="form-group input-split">
          <input type="password" name="password" placeholder="Senha" ng-model="user.password" maxlength="100" required/>
          <input type="password" name="confirmPassword" placeholder="Repita a senha" ng-model="user.confirmPassword" name="confirmPass" mrt-match-field="{{user.password}}" maxlength="100" required />
          <br style="clear: both" />
          <small class="error" ng-show="form.password | mrtHasError">* você deve inserir uma senha.</small>
          <small class="error" ng-show="form.confirmPassword | mrtHasError">* você deve confirmar a senha corretamente.</small>
        </div>
        <div vc-recaptcha ng-model="user.recaptcha" style="margin: 0 auto; width: 304px;"></div>
        <br style="clear: both" />
        <div class="form-group">
          <button type="submit" class="btn btn-block" ng-click="register()" class="btn btn-default btn-block" ng-disabled="form.$invalid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</mrt-page-wrapper>
