<mrt-breadcrumbs
  location="'Maratonando / Home'"
  title="'Registre-se'">
</mrt-breadcrumbs>

<div class="container" id="register-area">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h3>Registre-se no <strong>Maratonando</strong> e cemece a criar e competir em competições de programação. </h3>

      <form name="registerProfileForm" novalidate>
        <div class="form-group register-area-split">
          <input type="text" placeholder="Nome"  ng-model="user.name" name="name" maxlength="100" />
          <input type="text" placeholder="Sobrenome" ng-model="user.surname" name="surname" maxlength="100" />
          <br style="clear: both" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Nome de usuário*" uib-tooltip="Este nome será seu handle oficial nas competições e não poderá ser modificado." ng-model="user.username" name="username" maxlength="30" required
          ng-class="{'error': registerProfileForm.username.$dirty && registerProfileForm.username.$error.required }" />
          <small class="error"
            ng-show="registerProfileForm.username.$dirty && registerProfileForm.username.$error.required">* você deve inserir um nome de usuário.</small>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email*"
            ng-class="{'error': registerProfileForm.email.$dirty && (registerProfileForm.email.$error.required || registerProfileForm.email.$error.email) }"
            ng-model="user.email" name="email" required />
          <small class="error"
          ng-show="registerProfileForm.email.$dirty && (registerProfileForm.email.$error.required || registerProfileForm.email.$error.email)">* você deve inserir um email válido.</small>
        </div>
        <div class="form-group register-area-split">
          <input type="password" name="password" placeholder="Senha*" ng-model="user.password" maxlength="50" required
          ng-class="{'error': registerProfileForm.password.$dirty && registerProfileForm.password.$error.required }"/>
          <input type="password" name="confirmPassword" placeholder="Repita a senha*" ng-model="user.confirmPassword" name="confirmPass" match-field="{{user.password}}" maxlength="50" required
          ng-class="{'error': registerProfileForm.confirmPassword.$dirty && (registerProfileForm.confirmPassword.$error.required || registerProfileForm.confirmPassword.$error.matchField) }" />
          <br style="clear: both" />
          <small class="error"
           ng-show="registerProfileForm.password.$dirty && registerProfileForm.password.$error.required">
            * você deve inserir uma senha.
          </small>
          <small class="error"
           ng-show="registerProfileForm.confirmPassword.$dirty && registerProfileForm.confirmPassword.$error.required">
            * você deve repetir a sua senha.
          </small>
          <small class="error"
            ng-show="registerProfileForm.confirmPassword.$dirty && registerProfileForm.confirmPassword.$error.matchField">
            * você deve confirmar a senha corretamente.
          </small>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block" ng-click="register()" class="btn btn-default btn-block" ng-disabled="registerProfileForm.$invalid">Enviar</button>
        </div>

      </form>
    </div>


  </div>

</div>
